

// approval table
.admin table.admin-table
{
	tr.status-2{

		td{
			background-color: BLUE;
			color: #FFF;
		}
	}

	tr.status-3{
		td{
			background-color: YELLOW;
		}
	}

	tr.status-5{
		td {
			background-color: PURPLE;
			color: #FFF;
		}
	}

	tr.status-7{
		td {
			background-color: rgb(239, 129, 49);
			color: #FFF;
		}
	}

	tr.status-10{
		td{
			background-color: GREEN;
			color: #FFF;
		}
	}
}