.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.no-border {
  border: 0 none !important;
}
.no-bg {
  background: none !important;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.no-shadow {
  box-shadow: 0 0 0 transparent;
}
.overflow-hidden {
  overflow: hidden;
}
.reset-all {
  background: none;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  box-shadow: 0 0 0 transparent;
  border: 0 none;
  padding: 0;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
