/*
  Some copyright thingy
*/

/* Imports
---------------------------*/
//@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700italic,700);
@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,700);
@import url("vars.less");
@import url("mixins.less");


.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0;
}

body {
	font-family: @fontkarla;
	font-size: 14px;
	background: @white;
	// padding-top: 53px;
	-webkit-font-smoothing: antialiased;
}


@media (min-width: 1200px){
	.container {
		width: 1024px;
}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	//font-family: @fontgothambold;
	font-weight: 400;
	margin-top: 0px;
}

h3 {
	font-size: 24px;
	font-weight: bold;
}

 a {
 	color: darken(@headerbg, 8%);
 	.transition(.3s);
 }

.btn-hollo {
	border-radius: 0;
	border: 2px solid #333;
	background: @white;
	font-weight: bold;

	&.btn-hollo-pink {
		border: 2px solid @pinkish !important;

		&:hover {
			background: darken(@pinkish, 2%);
			border: 2px solid @pinkish !important;
			color: #fff !important;
		}
	}

	&.btn-hollo-blue {
		border: 2px solid @blue !important;

		&:hover {
			background: darken(@blue, 2%);
			border: 2px solid @blue !important;
			color: #fff !important;
		}
	}

	&.btn-hollo-green {
		border: 2px solid @green !important;

		&:hover {
			background: darken(@green, 2%);
			border: 2px solid @green !important;
			color: #fff !important;
		}
	}
}

.btn {
	&.btn-yellow {
		background: @darkyellow;
		color: @darkgrey;

		&:hover {
			background: darken(@darkyellow, 2%);
		}
	}

	&.btn-grey {
		background: @darkgrey;

		&:hover {
			background: darken(@darkgrey, 2%);
		}
	}

	&.btn-green {
		background: @green;
		color: @darkgrey;

		&:hover {
			background: darken(@green, 2%);
		}
	}

	&.btn-sort {
		border: 0;
		background: none;
		//font-size: 16px;
		padding: 0;
		position: relative;
		color: darken(@link, 8%);
		font-weight: 400;
		font-size: 14px;
		top: -1px;

		&:hover {

		}

		&:focus {
			outline: 0 none;
			box-shadow: 0 0 0 transparent;
		}

		i {
			font-size: 12px;
			margin-left: 4px;
			position: relative;
			top: -1px;
		}
	}
}

.dropdown-menu {
	width: 100%;
	border-radius: 3px;
	top: 40px;
	background: #fff;
	border: 1px solid #ddd;

	&.dropdown-menu:after, 
	&.dropdown-menu:before {
		bottom: 100%;
		left: 88%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&.dropdown-menu:after {
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #fff;
		border-width: 10px;
		margin-left: -2px;
	}
	
	&.dropdown-menu:before {
		border-color: rgba(221, 221, 221, 0);
		border-bottom-color: #ddd;
		border-width: 11px;
		margin-left: -3px;
	}
}

.radio label, .checkbox label{
	line-height: initial;
}

.form-horizontal .control-label {
	line-height: inherit;
}


.listing-sortby {
	.dropdown-menu {
		min-width: 160px;
		left: -50%;
		top: 38px;

		&:before,
		&:after {
			left: 84%;
		}

		li {
			padding-right: 0;

			a {
				border-bottom: 0 !important;
				//border-top: 1px solid @darkgrey;

				&:hover {
					//border-top: 1px solid @darkgrey !important;					
				}
			}
		}
	}
}

form {
	label {
		text-transform: uppercase;
		margin-bottom: 2px;
	}

	.form-control {
		border-radius: 0;
		box-shadow: 0 0 0 transparent;
	}

	.input-group {

		.form-control {
			// border-right: 1px solid #fff;
		}

		.input-group-btn {
			background: #fff;

			> .btn {
				border-radius: 0;
				// border-left: 0;
				// border: 0;

				&:hover {
					color: @green;
					background-color: #fff;
					// border-color: 0;
				}
			}
		}
	}

	.wysihtml5-sandbox {
		border: 1px solid #ddd !important;
	}

	ul.wysihtml5-toolbar {
		background: #F7F7F7;
		border: 1px solid #ddd;
		padding: 10px 10px 0;
		margin-bottom: -1px;
	}
}

.overlay {
	-webkit-box-shadow: inset 0px 0px 115px 49px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 0px 115px 49px rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 115px 49px rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	position: absolute;
}
/*
  Title styles
*/

#header {
	background: @headerbg;
	border-bottom: 3px solid darken(@headerbg, 8%);

	.navbar-brand {
		font-family: @fontgothambold;
		text-transform: uppercase;
		padding: 0;
		height: 53px;
		line-height: 54px;
		color: @white;

		&:hover {
			color: fade(@white, 50%);
		}
	}

	.navbar {
		background: none;
		border: 0;
		margin-bottom: 0;
		//height: 53px;

		img {
			width: 83%;
			position: relative;
			top: 3px;
		}
	}

	.navbar-nav {

		li {
			border-left: 1px solid rgba(255, 255, 255, 0.2);

			a {
				color: @white;
				padding: 20px 20px 19px 20px;
				font-size: 15px;
				//font-weight: 700;
				//box-shadow: inset 0px -2px 0 0px rgba(0, 0, 0, 0.15);
				text-shadow: 0 1px 1px rgba(0,0,0,.5);

				.fa {
					text-shadow: 0 0 0 transparent;
					font-size: 13px;
					margin-left: 4px;
				}

				&:hover {
					background: darken(@dcyan, 8%);
				}
			}

			> ul.dropdown-menu {
				padding: 0;
				border: 0;
				border-bottom: 3px solid @pinkish;
				border-radius: 0;
				min-width: 200px;

				li {
					margin: 0;

					a {
						box-shadow: 0 0 0 transparent;
						color: @darkgrey;
						text-shadow: 0 0 0 transparent;
						padding: 12px 18px;

						&:hover {
							background: #f9f9f9;
						}
					}
				}
			}

			&.link-submit {
				a {
					background: none;

					&:hover {
						background: @pinkish;
						//background: darken(@pinkish, 6.5%);
					}
				}

				&.open {
					background: @pinkish;
				}

				.link-story{
					&:hover {
						background: #f9f9f9;
					}

					a {
						background: url('../img/icon-fga.png') no-repeat right 8px;
						margin-right: 12px;
						
						&:hover {
							background: url('../img/icon-fga.png') no-repeat right 8px #f9f9f9;	
						}
					}
				}


			}

			&.link-login {
				a {
					background: none;

					&:hover {
						background: darken(@dcyan, 8%);
						//background: darken(@blue, 6.5%);
					}
				}
			}

			&.link-register {

				a {
					background: @pinkish;
					border-bottom: 3px solid darken(@pinkish, 8%);
					margin-bottom: -3px;

					&:hover {
						background: darken(@pinkish, 8%);
						border-bottom: 3px solid @pinkish;
						//border: 3px solid @darkyellow;
						//background: darken(@alizarin, 6.5%);
					}
				}
			}
		}

		&.social-media {
			margin-top: 4px;
			margin-right: 12px;

			li {
				border: 0;

				a {
					padding: 17px 12px 14px;
					opacity: .3;

					i {
						font-size: 20px;
					}

					&:hover {
						opacity: 1;
						background: none;
					}
				}
			}
		}
	}
}

#site-search {
	background: @smoke;
	background: url("../img/bg-pattern.png") 0 -18px;
	border-bottom: 1px solid #ddd;
	//box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	padding: 15px 0;

	.inner {
		background: rgba(255,255,255,.6);
		padding: 13px 20px 18px;
		box-shadow: 0 1px 2px rgba(0,0,0,.07);
		border-radius: 3px;
	}

	.col-first {
		border-right: 1px dotted #cccccc;
	}

	form {
		label {
			font-size: 12px;
			font-weight: bold;
		}

		.form-group {
			margin-bottom: 0;

			.dropdown-menu {
				width: 100%;
				border-radius: 3px;
				top: 40px;
				background: #fff;
				border: 1px solid #ddd;
				z-index: 100000;

				&.dropdown-menu:after, 
				&.dropdown-menu:before {
					bottom: 100%;
					left: 88%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}

				&.dropdown-menu:after {
					border-color: rgba(255, 255, 255, 0);
					border-bottom-color: #fff;
					border-width: 10px;
					margin-left: -2px;
				}
				
				&.dropdown-menu:before {
					border-color: rgba(221, 221, 221, 0);
					border-bottom-color: #ddd;
					border-width: 11px;
					margin-left: -3px;
				}
			}
		}
	}

	label {
		margin-bottom: 0;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: bold;
	}

	.form-group {
		margin-bottom: 0;
	}

	.input-group {
		border: 1px solid #ccc;
		border-radius: 25px;

		&:focus {
			border: 1px solid @green;
			outline: 0;
			-webkit-box-shadow: inset 0 1px 1px fade(@green, .75%), 0 0 8px fade(@green, 60%);
			box-shadow: inset 0 1px 1px fade(@green, .75%), 0 0 8px fade(@green, 60%);
		}
	}

	.btn,
	.input-group-btn,
	.input-group-addon {
		border-radius: 0px 25px 25px 0px;
		background: #fff;
		font-size: 16px;
		border: 0;
		color: @dcyan;

		&:hover {
			color: @green;
		}

		i {
			position: relative;
			top: 0;
			right: 3px;

			&.fa-search {
				top: -1px;
			}

			&.fa-angle-down {
				font-size: 19px;
			}
		}
	}

	.form-control {
		border: 0;
		border-radius: 25px 0px 0px 25px;
		padding-left: 20px;

		&:focus {
			border-color: 0;
			outline: 0;
			-webkit-box-shadow: inset 0 0 0 transparent;
			box-shadow: inset 0 0 0 transparent;
		}
	}

	.text-separator {
		span {
			display: block;
			position: relative;
			top: 8px;
		}
	}
}

#site-hero{
	padding: 0px;
	height: 400px;
	background: url(../img/hero.jpg) center center no-repeat;
	margin-top: -30px;
	margin-bottom: 30px;

	h1{
		color: #fff;
		font-family:@fontgothambold;
		font-size: 50px;
		text-shadow: 1px 1px 4px #838383;

		span{
			color: #FFF;
			background: #FF278A;
			padding: 0px 12px;
			text-shadow: none;
		}
	}

	.search-wrapper{
		background: rgba(255, 255, 255, 0.6);
		padding: 13px 20px 18px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
		border-radius: 3px;

		.form-group {
		margin-bottom: 0px;
		}
		.form-control {
		border: 0;
		border-radius: 25px 0px 0px 25px;
		padding-left: 20px;
		}

		.input-group {
		border: 1px solid #ccc;
		border-radius: 25px;
		}

		.input-group-addon {
		border-radius: 0px 25px 25px 0px;
		background: #fff;
		font-size: 16px;
		border: 0;
		color: #3eb1e2;
		}
	}
}

#content {
	padding: 30px 0px;

	// a {
	// 	color: @darkgrey;
	// 	text-decoration: none;
	// 	border-bottom: 2px solid @darkgrey;

	// 	&:hover {
	// 		color: fade(@darkgrey, 70%);
	// 		border-color: @green;
	// 		text-decoration: none;
	// 	}
	// }

	.features-slider .carousel .carousel-control {
		border-bottom: 0;
	}

	.thumbnails {
		li {
			a {
				border-bottom: 0;

				&:hover {
					border-bottom: 0;
				}
			}
		}
	}
}

.box {
	padding: 20px;
}

.hero-slider {
	margin-bottom: 40px;
	display: none;
}

.content-slider {
	border-bottom: 1px dotted @darkgrey;

	[class*="col-"] {
		margin: 0;
		padding: 0;

		.box {
			border-left: 1px dotted @darkgrey;
			min-height: 425px;
			text-align: center;
		}

		&:first-child {
			.box {
				border-left: 0;
			}
		}
	}

	.upcoming {
		.ribbon-title {
			margin-bottom: -2px;
		}
	}

	.highlights {
		.ribbon-title-container .ribbon-title.ribbon-single {
			margin-left: 36px;
		}

		.ribbon-title-container {
			margin-bottom: -45px;
		}
	}

	.upcoming-date {
		width: 145px;
		height: 145px;
		background: @darkgrey;
		color: @white;
		border-radius: 80px;
		margin: 0 auto;

		span {
			display: block;

			&.month {
				font-family: @fontstylized;
				font-style: italic;
				font-size: 22px;
				padding-top: 23px;
			}

			&.date {
				font-size: 75px;
				font-weight: 700;
				line-height: 65px;
			}
		}
	}

	.item-avatar {
		width: 145px;
		height: 145px;
		background: @darkgrey;
		border-radius: 80px;
		margin: 0 auto;
		overflow: hidden;
		
		img {
			width: 145px;
		}
	}

	.box-content {
		padding: 0 35px;

		h3 {
			.stylized-title();
			margin-bottom: 20px;
			margin-top: 15px;
			font-weight: 400;
			font-size: 28px;
		}

		.btn-hollo {
			padding: 8px 30px;
			font-size: 15px;
		}

		span {
			display: block;
			font-size: 13px;
			margin-top: -12px;
			margin-bottom: 15px;

			strong {
				text-transform: uppercase;
			}
		}

		a {
			font-size: 16px;
		}
	}

	#carousel-stories {
		.item-avatar {
			width: 145px;
			height: 145px;
			background: @darkgrey;
			border-radius: 80px;
			margin: 0 auto;
			overflow: hidden;
			
			img {
				width: 250px;
				position: relative;
				left: -35%;
			}
		}
	}

	#carousel-highlights {
		.item-avatar {
			img {
				top: -15px;
				position: relative;
			}
		}
	}
}


.carousel-content {
	> .item {
		-webkit-transition: opacity 1s;
	    -moz-transition: opacity 1s;
	    -ms-transition: opacity 1s;
	    -o-transition: opacity 1s;
	    transition: opacity 1s;
	}

	.active.left, .active.right {
	    left: 0;
	    opacity: 0;
	    z-index: 2;
	}

	.next, .prev {
	    left: 0;
	    opacity: 1;
	    z-index: 1;
	}

	.carousel-control {
		background: none;
		border: 0 !important;
		top: 15%;
		bottom: auto;
		text-shadow: 0 0 0 transparent;
		font-size: 35px;
	}

	.carousel-indicators {
		position: relative;
		bottom: 0;
		margin-top: 20px;

		li {
			border: 1px solid #333;
			width: 8px;
			height: 8px;
		}

		.active {
			width: 8px;
			height: 8px;
			margin: 1px;
			background: #333;
		}
	}
}

.features-slider {
	border-bottom: 1px dotted @darkgrey;
	padding-bottom: 50px;
	margin-bottom: 30px;
	text-align: center;

	

	.carousel {
		margin-bottom: 15px;

		.carousel-indicators{
			bottom: -10px;
		}

		.carousel-control {
			background: none;
			font-size: 40px;
			color: @white;
			

			&.left {

			}

			&.right {
				
			}
		}

		.carousel-caption {
			right: 0;
			left: 0;
			bottom: 0;
			padding-bottom: 0;
			padding: 15px;
			background: rgba(0,0,0,.5);

			span {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				display: block;
			}

			h4 {
				margin: 0px;
				font-size: 26px;
			}

			p {
				font-family: @fontstylized;
				font-size: 16px;
				font-style: italic;
			}
		}
	}

	.thumbnails {
		li {
			position: relative;

			img {
				width: 100%;
			}
			
			.img-container {
				height: 200px;
				overflow: hidden;
			}

			a {
				display: block;
				position: relative;

				.carousel-caption {
					bottom: -220px;
				}

				&:hover {
					h3 {
						display: none;
					}

					.carousel-caption {
						top: 0;
					}
				}
			}

			h3 {
				position: absolute;
				color: #fff;
				text-align: center;
				display: block;
				width: 100%;
				font-size: 32px;
				top: 32%;
				text-shadow: 0px 0px 3px #000000;
				z-index: 10;
			}

			span.info-text {
				position: absolute;
				display: block;
				width: 100%;
				text-align: center;
				bottom: 15px;
				color: #fff;
			}
		}
	}

	a {
		
		color: #FFF;
		font-family: @fontkarla;
		font-weight: bold;

		&.slider-action {
			color: @darkgrey;
			text-decoration: none;
			border-bottom: 2px solid @darkgrey;

			&:hover {
				color: fade(@darkgrey, 70%);
				border-color: @green;
				text-decoration: none;
			}
		}
	}

	&.genre-slider {

		a {
			font-family: @fontkarla;
		}
		.thumbnails {
			li {
			
				a {

					&:hover {
						h3 {
							display: block;
						}
					}
				}
			}
		}
	}
}

.slider-title {
		margin-top: 15px;
		margin-bottom: 20px;
		font-family: @fontstylized;
		font-style: italic;
		font-size: 32px;
	}

.other-vendors {
	padding-top: 20px;
	h2{
		font-size: 30px;
	}
}

.related-stories {
	background: #f5f5f5;
	border-bottom: 0;
	padding-top: 35px;
	padding-bottom: 50px;

	.thumbnails {
		li {
			a {
				.carousel-caption {
					bottom: 0;
					position: relative;
					right: auto;
					left: auto;
					bottom: 0;
					padding-bottom: 0;
					padding: 12px;
					max-height: 100px;
					background: #fff;
					color: @darkgrey;
					text-shadow: 0 0 0 transparent;
					overflow: hidden;

					h4 {
						font-size: 23px;
					}

					p {
						font-family: @fontstylized;
						font-size: 16px;
						font-style: italic;
					}
				}
			}
		}
	}

	h4 {
		font-family: @fontstylized;
		font-style: italic;
		font-weight: bold;
	}

	.author {
		text-transform: uppercase;

		span {
			text-transform: lowercase;
			color: #bbb;
		}
	}
}

.ribbon-title-container {
	.ribbon-title {
		//float: left;
		display: inline-block;
		margin-left: 15px;

		&:first-child {
			margin-left: 0;
		}

		&.ribbon-left {
			border-right: 5px solid #333;
			padding-top: 5px;
			height: 60px;

			.center {
				margin-right: -10px;
			}
		}

		&.ribbon-right {
			border-left: 5px solid #333;
			padding-top: 5px;
			height: 60px;

			.center {
				margin-left: -10px;
			}
		}

		&.ribbon-single {
			border-left: 5px solid #333;
			padding-top: 5px;
			height: 80px;
			margin-bottom: -22px;
			margin-left: 15px;

			.center {
				padding-left: 15px;
			}
		}
	}
}

.ribbon-title {
	font-family: @fontgothambold;
	text-transform: uppercase;

	.title {
		font-size: 16px;
		margin: 0;
		line-height: 21px;
	}

	&.ribbon-yellow {

		.center {
			background: @darkyellow;
			padding: 8px 8px 6px;
			top: -14px;
			position: relative;
			//float: left;
			display: inline-block;
			margin-right: -5px;
			margin-left: -5px;
		}

		.left {
			background: url(../img/ribbon.png) no-repeat left -2px;
			//float: left;
			height: 39px;
			width: 18px;
			display: inline-block;
		}

		.right {
			background: url(../img/ribbon.png) no-repeat right -2px;
			//float: left;
			display: inline-block;
			width: 18px;
			height: 39px;
		}
	}

	&.ribbon-blue {

		.center {
			background: @blue;
			padding: 8px 8px 6px;
			top: -14px;
			position: relative;
			//float: left;
			display: inline-block;
			margin-right: -5px;
			margin-left: -10px;
			border-radius: 6px 0px 0px 6px;
		}

		.left {
			background: url(../img/ribbon.png) no-repeat left -46px;
			//float: left;
			height: 39px;
			width: 18px;
			display: inline-block;
		}

		.right {
			background: url(../img/ribbon.png) no-repeat right -46px;
			//float: left;
			display: inline-block;
			width: 18px;
			height: 39px;
		}
	}

	&.ribbon-pink {

		.center {
			background: @pinkish;
			padding: 8px 15px 6px 8px;
			top: -14px;
			position: relative;
			//float: left;
			display: inline-block;
			margin-right: -5px;
			margin-left: -5px;
			z-index: 10;
			border-radius: 0px 6px 6px 0px;
		}

		.left {
			background: url(../img/ribbon.png) no-repeat left -90px;
			//float: left;
			height: 39px;
			width: 18px;
			display: inline-block;
		}

		.right {
			background: url(../img/ribbon.png) no-repeat right -90px;
			//float: left;
			display: inline-block;
			width: 18px;
			height: 39px;
		}

		&.ribbon-fly {
			margin-top: -18px;
			margin-left: -38px;
		}
	}

	&.ribbon-green {

		.center {
			background: @green;
			padding: 8px 8px 7px;
			top: -14px;
			position: relative;
			//float: left;
			display: inline-block;
			margin-right: -5px;
			margin-left: -5px;
		}

		.left {
			background: url(../img/ribbon.png) no-repeat left -133px;
			//float: left;
			height: 39px;
			width: 18px;
			display: inline-block;
		}

		.right {
			background: url(../img/ribbon.png) no-repeat right -133px;
			//float: left;
			display: inline-block;
			width: 18px;
			height: 39px;
		}

		&.ribbon-right {
			padding-right: 35px;
			padding-top: 8px;

			.center {
				border-radius: 6px 0px 0px 6px;
			}

			&.title-blink-right {
				background: url(../img/title-blink.png) no-repeat 115px -4px;
			}
		}

		&.ribbon-left {
			padding-left: 35px;
			padding-top: 8px;

			.center {
				border-radius: 0px 6px 6px 0px;
			}

			&.title-blink-left {
				background: url(../img/title-blink.png) no-repeat -75px -4px;
			}
		}
	}

	&.ribbon-single {
		position: relative;

		.quote-right {
			background: url(../img/title-quote.png) no-repeat 0 0;
			height: 20px;
			width: 30px;
			position: absolute;
			right: -35px;
			top: 2px;
		}

		.quote-left {
			height: 20px;
			width: 30px;
			background: url(../img/title-quote.png) no-repeat -45px 0;
			position: absolute;
			left: -42px;
			top: -2px;
		}
	}
}


/** Pricing **/

.pricing-table{
	.panel
	{
	    text-align: center;
	}
	.panel:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35); }
	.panel-body
	{
	    padding: 0px;
	    text-align: center;
	}

	.the-price
	{
	    background-color: rgba(220,220,220,.17);
	    box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
	    padding: 20px;
	    margin: 0;
	}

	.the-price h1
	{
	    line-height: 1em;
	    padding: 0;
	    margin: 0;
	}

	.panel-title{
		font-size: 26px;
	}

	.subscript
	{
	    font-size: 25px;
	}

	/* CSS-only ribbon styles    */
	.cnrflash
	{
	    /*Position correctly within container*/
	    position: absolute;
	    top: -9px;
	    right: 4px;
	    z-index: 1; /*Set overflow to hidden, to mask inner square*/
	    overflow: hidden; /*Set size and add subtle rounding  		to soften edges*/
	    width: 100px;
	    height: 100px;
	    border-radius: 3px 5px 3px 0;
	}
	.cnrflash-inner
	{
	    /*Set position, make larger then 			container and rotate 45 degrees*/
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    width: 145px;
	    height: 145px;
	    -ms-transform: rotate(45deg); /* IE 9 */
	    -o-transform: rotate(45deg); /* Opera */
	    -moz-transform: rotate(45deg); /* Firefox */
	    -webkit-transform: rotate(45deg); /* Safari and Chrome */
	    -webkit-transform-origin: 100% 100%; /*Purely decorative effects to add texture and stuff*/ /* Safari and Chrome */
	    -ms-transform-origin: 100% 100%;  /* IE 9 */
	    -o-transform-origin: 100% 100%; /* Opera */
	    -moz-transform-origin: 100% 100%; /* Firefox */
	    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%);
	    background-size: 4px,auto, auto,auto;
	    background-color: #aa0101;
	    box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
	}
	.cnrflash-inner:before, .cnrflash-inner:after
	{
	    /*Use the border triangle trick to make  				it look like the ribbon wraps round it's 				container*/
	    content: " ";
	    display: block;
	    position: absolute;
	    bottom: -16px;
	    width: 0;
	    height: 0;
	    border: 8px solid #800000;
	}
	.cnrflash-inner:before
	{
	    left: 1px;
	    border-bottom-color: transparent;
	    border-right-color: transparent;
	}
	.cnrflash-inner:after
	{
	    right: 0;
	    border-bottom-color: transparent;
	    border-left-color: transparent;
	}
	.cnrflash-label
	{
	    /*Make the label look nice*/
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    display: block;
	    width: 100%;
	    padding-bottom: 5px;
	    color: #fff;
	    text-shadow: 0 1px 1px rgba(1,1,1,.8);
	    font-size: 0.95em;
	    font-weight: bold;
	    text-align: center;
	}
}

/** why join **/
.whyjoin {
	li {
		margin-bottom: 30px;

		.icons i {
			font-size: 56px;
			color: #333;
		}

		.content {
			margin-left: 88px;
			margin-right: 10px;

			h3 {
			font-size: 28px;
			line-height: 1.3;
			margin: 0 0 5px;
			}
		}
	}
}

#footer {
	margin-top: 10px;


}

#footer-bottom {
	margin-top: 50px;
	background: #f5f5f5;
	border-top: 1px solid #ddd;
	font-size: 13px;

	.nav-brand-container {
		span {
			position: relative;
			color: @darkgrey;
			margin-left: 9px;
			top: 22px;
			opacity: 1;
			font-weight: 700;
			text-transform: uppercase;
		}
	}

	.navbar-brand {
		height: auto;
		font-family: @fontgothambold;
		color: @white;
		text-transform: uppercase;
		padding: 8px 0;
	}

	// &:before {
	// 	content: "";
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 27px;
	// 	margin: -16px 0 0 0;
	// 	background: url(../img/footerbg.png) center bottom;
	// }

	.nav-footer {
		ul {
			margin-top: 10px;
			margin-bottom: 7px;

			li {
				a {
					padding: 10px 15px;
					color: @darkgrey;
					font-weight: 700;
					text-transform: uppercase;

					&:hover {
						background: none;
						color: @green;
					}
				}
			}
		}

		.navbar-toggle {
			color: #fff;
		}
	}
}



/*
  Listing pages
*/
.listing-header{
	background: @white;
	margin-bottom: 0px;
	margin-top: -30px;
	padding: 15px 0 0 0;

	ul {
		margin: 0;

		> li {
			padding-right: 10px;
			font-weight: bold;
		}
	}

	// .listing-title {
	// 	.stylized-title();
	// 	font-size:36px;
	// 	margin-top: 0;
	// 	text-align:center;
	// }

	// .listing-sorter{
	// 	display:inline-block;
	// 	text-align:center;
	// 	font-size:16px;
	// 	margin: 20px 0px 40px 0px;
	// 	border-top: 1px solid #999;
	// 	border-bottom: 1px solid #999;
	// 	padding: 6px 10px;
	// }

	.center-block {
		text-align: center;
	}

	.left-block {
		text-align: left;
	}

	.listing-title {
		text-align: left;
		margin-top: 0;
		font-size: 32px; 
		margin-bottom: 0px;
		font-weight: bold;
	}

	.listing-sorter {
		position: relative;
	}

	small {

	}
}



	.vendor-item,
	.stories-item,
	.place-item {
		text-align: left;
		// border-left: 1px solid fade(@darkgrey, 30%);
		// border-top: 1px solid fade(@darkgrey, 30%);

		.excerpt {
			display: none;
			position: absolute;
			top: 22px;
			width: auto;
			margin-right: auto;
			margin-left: auto;
			margin-top: 4px;
			padding: 25px;
			height: 170px;
			background: rgba(0, 0, 0, 0.6);
			//max-width: 100%;
			width: 100%;
			margin-right: 19px;
			color: #fff;

			font-family: @fontstylized;
			font-size: 16px;
			font-style: italic;

			text-align: center;
			text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px;

			span {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				display: block;
			}
		}

		.thumbnail {
			border: 0;
			// border-top: 1px solid fade(@darkgrey, 30%);
			border-radius: 0;
			margin-top: 25px;
			margin-bottom: 0px;
			position: relative;

			img {
				width:100%;
			}

			.vendor-tag{
				position: absolute;
				top: 12px;
				right: 9px;
				margin-right: -25px;
				z-index: 200;
				max-height: 36px;
				width: auto;

			}

			.mini-tag{
					position: absolute;
					top: 12px;
					right: 9px;
					margin-right: -2px;
					z-index: 200;
					max-height: 24px;
					width: auto;
				}


			&:hover {
				.excerpt {
					display: block;
					overflow: hidden;
				}
			}
		}

		h3 {
			font-weight: 700;
			margin: 4px 0px;
			font-size: 18px;
			line-height: 23px;

			a {
				.text-overflow;
				display: block;
				border-bottom: none !important;
			}
		}
		
		.date,
		.places {
			.stylized-title();
			text-align:left;
			margin-bottom: 0px;
			font-size: 18px;
			color:@darkgrey;
		}

		.date {
			margin-bottom: 2px;
		}

		.country {
			.stylized-title();
			text-align:center;
			margin-bottom: 15px;
			font-size: 16px;
			color:@darkgrey;
		}

		&:first-child {
			border-left: 0;
		}

		.box-content {
			font-size: 20px;
			margin-top: 0px;

			.btn-hollo {
				margin-bottom: 5px;
			}
		}

		.type {
			position: absolute;
			bottom: 67px;
			left: 0;
			background: rgba(0,0,0,0.5);
			padding: 3px 10px 3px 10px;
			color: #FFF;
		}
	}

	.tags-listing {

		a {
			border: 2px solid #f5f5f5 !important;
			color: #aaa !important;
			padding: 4px 8px;
			font-size: 13px;
			font-weight: 400;
			margin-right: 5px;
			margin-bottom: 5px;


			// &:nth-child(3n+1) {
			// 	&:hover {
			// 		border-color: @pinkish !important;	
			// 	}
			// }

			// &:nth-child(3n+2) {
			// 	&:hover {
			// 		border-color: @blue !important;
			// 	}
			// }

			// &:nth-child(3n+3) {
			// 	&:hover {
			// 		border-color: @darkyellow !important;
			// 	}
			// }

			// &:nth-child(3n+4) {
			// 	&:hover {
			// 		border-color: @alizarin !important;
			// 	}
			// }

			// &:nth-child(3n+5) {
			// 	&:hover {
			// 		border-color: @purple !important;
			// 	}
			// }

			&:hover {
				//border-color: @darkgrey !important;
				color: @darkgrey !important;
			}
		}
	
	}

	&:last-child {
		.vendor-item{
			.thumbnail {
				margin-bottom: 0;
			}
		}
	}

	&:first-child {
		.thumbnail {
			border: 0;
			

			.excerpt {
				top: -4px;
			}
		}
	}

	&.featured {
		background: fade(@dcyan, 5%);
		margin: 0;
		padding: 30px 15px 0;

		.thumbnail {
			background: none;
			margin-bottom: 15px;

			img {
				width: 100%;
			}

			.box-content {
				h3 {
					font-size: 28px;
					line-height: 36px;
				}
			}
		}
	}



.stories-items {
	.stories-item {
		h3 {
			a {
				display: block;
				border-bottom: none !important;
				overflow: inherit;
				text-overflow: inherit;
				white-space: inherit;
			}
		}
	}
}

.places-content {
	margin-top: 30px;
}

.place-items {
	border: 0;

	.place-item {
		border: 0;
	}
}

.paginate-container {
	margin-top: 15px;
}

.pagination {
	border: 1px solid #eee;
	border-radius: 50px;

	> li {
		border-left: 1px solid #eee;
		margin-right: 0;

		&.disabled {
			span {
				color: darken(@link, 8%);

				&:hover {
					color: darken(@link, 8%);
				}
			}
		}

		> a,
		> span {
			border-top: 0;
			border-left: 0;
			border-right: 0;
			border-width: 1px;
			margin: 0;
			border-radius: 0px !important;
			color: darken(@link, 8%);

			&:hover {
				background: none;
				color: @green;
			}
		}

		&.active {
			> span {
				background: none;
				border-color: @green;
				border-width: 2px;
				color: @green;
				font-weight: bold;
			}

			&:hover {
				> span {
					background: none;
					border-color: @green;
					border-width: 2px;
					color: @green;
				}
			}
		}

		&:first-child {
			border-left: 0;
		}

		&:first-child,
		&:last-child {
			> span,
			> a {
				border-width: 0 !important;
			}
		}
	}
}

.fly-line {
	border-bottom: 2px dotted #ccc;
	width: 20%;
	position: absolute;
	left: 0;
}

/*
  Entry page
*/
.vendor,
.story {
	border-bottom:1px dotted @darkgrey;
	//padding-top: 25px;

	h1 {
		.stylized-title();
		font-size: 40px;
		margin-top: 0;
	}

	.item-content{
		//border-right: 1px dotted @darkgrey;
		padding-bottom: 25px;
		position: inherit;
	}

	.widget-vendor-info,
	.widget-author {
		padding-top: 15px;
		border-top: 1px solid #ddd;
		margin-top: 0px;
		margin-bottom: 15px;

		li, div {
			//font-family: @fontstylized;
			//font-weight: bold;
			//font-style: italic;
			font-size: 14px;
			line-height: 20px;
			margin-right: 25px;

			span {
				display: block;
				text-transform: uppercase;
				font-family: @fontkarla;
				font-weight: bold;
				font-style: normal;
				font-size: 12px;
			}

			h4 {
				text-transform: uppercase;
				font-size: 12px;
				font-family: @fontkarla;
				font-style: normal;
				margin-bottom: 0;
				margin-top: 3px;
			}

			.author {
				font-weight: bold;
				font-size: 24px;
				margin-top: 2px;
				margin-bottom: 10px;
			}

			p {
				font-family: @fontkarla;
				font-size: 16px;
				font-weight: normal;
				font-style: normal;
				color: #999;
				line-height: 20px;
			}

			.author-link {
				color: @green !important;
				font-weight: normal;
				border-bottom: none !important;
				font-size: 18px !important;

				&:hover {
					color: @darkgrey !important;
				}
			}
		}

		div {
			margin-right: 0;
		}
	}

	ul.widget-author {
		margin: 0 0 35px;
		padding-top: 35px;

		> li {
			float: left;

			&:first-child {
				width: 128px;
				height: 128px;
				background: url(../img/skulls.png);
				border-radius: 80px;
				padding: 0;
				text-align: center;

				img {
					padding: 0;
					max-width: 128px;
				}
			}

			&.admin-info {
				width: 50%;
			}
		}
	}

	.story-info,
	.vendor-info {
		border-left: 2px dotted #ccc;	
		margin-left: -1px;
		padding-bottom: 30px;

		h4 {		


			padding: 4px;

			&:first-child {
				margin-top: 0;
			}
		}

		.ribbon {
			font-size: 16px;
			display: inline-block;
			height: 30px;
			line-height: 20px;
			text-transform: uppercase;
			position: relative;
			background: @darkyellow;
			color: #000;
			text-align: center;
			margin-left: 0;
			padding: 6px 12px 6px 25px;
			//margin: 0px auto -12px -15px; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
		}

		.ribbon-green {
			background: @green;
		}

		.ribbon-black {
			background: #000;
			color: @green;
		}

		.ribbon:after {
			 content: "";
			 position: absolute;
			 display: block;
			 bottom: 0em;
			 border: 15px solid @darkyellow;
			 z-index: -1;
		}

		.ribbon-green:after {
			 border: 15px solid @green;
		}

		.ribbon-black:after {
			 border: 15px solid #000;
		}

		.ribbon:after {
		 	right: -14px;
		 	border-left-width: 12px;
		 	border-right-color: transparent;
		}
		
		.ribbon .ribbon-content:before {
		 	left: 0;
		 	border-width: 1em 0 0 1em;
		}

		.ribbon .ribbon-content:after {
		 	right: 0;
		 	border-width: 1em 1em 0 0;
		}

		.ribbon-stick {
			border-left: 4px solid #000;
			position: relative;
			left: 4px;
			padding-bottom: 6px;
			padding-top: 4px;

			.ribbon {
				padding-left: 15px;
				position: relative;
				left: -10px;
			}
		}

		.widget-package {
			background: #f5f5f5;
			padding: 20px 25px;
			margin-bottom: 20px;

			ul {
				margin-bottom: -15px;

				li {
					margin: 22px 0;

					&:first-child {
						margin-top: 0;
					}
				}
			}

			h3 {
				font-family: @fontgothambold;
				margin-top: 0;
				letter-spacing: -2px;
				font-size: 22px;
			}

			h5 {
				font-weight: normal;
				font-size: 19px;
			}

			.btn {
				border: 0 !important;
				border-radius: 0;
				font-weight: bold;
				display: block;
				font-size: 18px;
				margin-top: 12px;
				padding: 10px;
			}

			sup {
				text-transform: uppercase;
				font-weight: normal;
			}
		}

		dl {
			margin: 0;

			dt{
				text-transform:uppercase;
				font-size:12px;
			}

			dd{
				.stylized-title();
				font-size:16px;
				margin-bottom:16px;
				padding:2px 0px 10px 0px;
				border-bottom:1px dotted @darkgrey;

				ul {
					li {
						span {
							&.age-checked {
								position: relative;
								top: 8px;
							}
						}

						&.child {
							span {
								position: relative;
								top: 8px;
							}
						}
					}
				}
			}
		}

		.author-info {
			margin-bottom: 20px;

			.img-circle {
				display: block;
				margin-top: 10px;
				width: 96px;
				margin-bottom: 18px;
			}

			.author {
				.stylized-title();
				font-size:16px;
			}

			.author-profile {
				color: #999999;
			}

			.author-link {
				color: @green !important;
				font-style: italic;
				font-size: 14px;
				border-bottom: 0 !important;

				&:hover {
					color: darken(@green, 8%) !important;
				}
			}
		}

		ul.country-details {
			padding: 15px 0 0 20px;

			li {
				margin-bottom: 10px;

				&.rating,
				&.weather,
				&.capacity {
					span {
						font-size: 35px;
						font-weight: 700;
						position: relative;
						font-family: @fontgothambold;
						top: -12px;
						//letter-spacing: -1px;
					}

					i {
						font-size: 50px;
						width: 60px;
						margin-right: 12px;
					}
				}

				&.rating {
					i {
						text-align: center;
					}
				}

				&.weather {
					padding-left: 10px;
				}

				&.capacity {
					i {
						text-align: center;
						float: left;
					}

					span {
						top: -10px;
						float: left;

						span {
							font-size: 45px;
							top: 0px;
							float: none;
						}
					}

					span.text {
						text-transform: uppercase;
						font-size: 10px;
						float: left;
						margin-left: 5px;
						margin-top: 3px;
					}
				}
			}	
		}	
	}

	.vendor-info {
		margin-top: 50px;
	}

	.story-info {
		padding-top: 50px;
	}

	.img-container {
		margin-top: 20px;
		margin-bottom: 30px;

		img {
			max-width: 100%;
		}
	}

	.inner-content {
		//padding-right: 20px;

		h1 {
			font-family: @fontkarla;
			font-weight: bold;
			font-style: normal;
			letter-spacing: -2px;

			&.main-title {
				margin-bottom: 20px;
			}
		}

		img {
			max-width: 100%;
			//padding: 10px 0px;
		}

		&.inner-content-middle {
			width: 50%;
		}
	}

	.inner-left-excerpt {
		margin-bottom: 25px;

		p {
			font-family: @fontstylized;
			font-style: italic;
			font-size: 25px;
			
		}
	}

	.inner-left-content {
		border-top: 1px dotted @darkgrey;
		border-bottom: 1px dotted @darkgrey;
		margin-bottom: -1px;
		padding: 20px 0;
		font-size: 16px;

		.img-container {
			margin-right: 0;
			margin-bottom: 25px;
		}

		&:last-child {
			border-bottom: 0;
		}
	}

	.inner-content-title {
		margin-top: 10px;
		margin-bottom: 15px;
		font-size: 19px;
	}

	.inner-sb-content {
		margin-left: -15px;
		position: relative;
		top: -50px;
	}

	.inner-tags-content {
		h4 {
			text-transform: uppercase;
			font-size: 12px;
			margin-top: 0;
		}

		.inner-tags-listing {

			a {
				// border: 2px solid @green !important;
				display: block;
				float: left;
				padding: 4px 8px;
				font-size: 13px;
				font-weight: 700;
				margin-right: 5px;
				margin-bottom: 5px;

				/*
				&:nth-child(3n+1) {
					border-color: @pinkish !important;
				}

				&:nth-child(3n+2) {
					border-color: @blue !important;
				}

				&:nth-child(3n+3) {
					border-color: @darkyellow !important;
				}

				&:nth-child(3n+4) {
					border-color: @alizarin !important;
				}

				&:nth-child(3n+5) {
					border-color: @purple !important;
				}
				*/

				&:hover {
					border-color: @darkgrey !important;
					background-color: @pinkish;
				}
			}
		}
	}
}

.story-more{
	text-align: left;
	h3 {
	font-size: 15px;
	line-height: 19px;
	margin: 0px 0px;
	}
}

.category-bar{
	margin-bottom: 15px;
}

.popular-category {

	.popular-category-item {
		background: url( ../img/bg-sprite.jpg) no-repeat scroll 0 0 transparent; 
		height:165px;width:100%; 
		margin-bottom:30px;

		

		h4 {
			height: 165px;
			line-height: 165px; 
			font-weight:bold;
			color: #fff;
			font-size: 29px; 
			background:none repeat scroll 0 0 rgba(0, 0, 0, 0.2); 
			text-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
		}

		a {
			display:block;
			height: 165px;
			line-height: 165px;
			width:100%;
		}

		a:hover h4{
			background:none repeat scroll 0 0 rgba(0, 0, 0, 0.3) !important;		
		}
	}

	
		.popular-category-makeup-artist{
			background-position: -1260px 0;
		} .popular-category-wedding-card{
			background-position: -2835px 0;
		} .popular-category-videographer{
			background-position: -2205px 0;
		} .popular-category-pa-system{
		} .popular-category-marriage-course-center{
		} .popular-category-health-beauty{
			background-position: -1575px 0;
		} .popular-category-decoration{
		} .popular-category-wedding-cake{
			background-position: 0 0;
		} .popular-category-wedding-gift{
			background-position: -1890px 0;
		} .popular-category-photographer{
			background-position: -315px 0;
		} .popular-category-catering{
			background-position: -945px 0;
		} .popular-category-designer{
		} .popular-category-wedding-planner{
			background-position: -3465px 0;
		} .popular-category-bridal{
			background-position: -2835px 0;
		} .popular-category-venue{
			background-position: -630px 0;
		} .popular-category-canopy{
		} .popular-category-event-organizer{
		} .popular-category-honeymoon{
			background-position: -2520px 0;
		} .popular-category-specialties{
			background-position: -3150px 0;

		}
	
}

.blog-categories {
	background: #E3F5FE;
	margin-bottom: 30px;
}

.vendor,
.story {


	.vendor-cover{
		img{
			max-width: 100%;	
		}
	}

	.vendor-tag{
		position: absolute;
		top: 12px;
		right: 9px;
		margin-right: -40px;
		z-index: 200;
		max-height: 50px;
	}

	.inner-left-tags {
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px dotted @darkgrey;
	}
	.inner-left-excerpt {
		margin-bottom: 25px;	
		font-family: @fontkarla;
		font-weight: 400;
		font-size: 20px;
		line-height: 29px;
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px dotted @darkgrey;
	}

	.inner-tags-listing {
		border-bottom: 1px dotted @darkgrey;
		margin-bottom: 20px;
		padding-bottom: 20px
	}

	.inner-left-content {
		border-top: 0 none;
		border-bottom: 0 none;
		margin-bottom: -1px;
		padding: 0px 10px 20px;

		.img-container, img {
			margin-right: 0;
			margin-bottom: 25px;
		}

		img{
			width: 100%;
		}


		h3 {
			margin-top: 0;
			text-transform: uppercase;
			font-size: 15px;
		}

		&:last-child {
			border-bottom: 0;
		}
	}

	.inner-social {
		a {
			border-bottom: 0 !important;
			margin-right: 10px;

			i {
				font-size: 20px;
			}

			&:hover {
				color: @green !important;
			}
		}
	}
}


.vendor-profile {

	.vendor-avatar {
		background: #fff;
		padding: 5px;
		position: relative;
		top: -55px;
		left: 15px;
		width: 140px;
		border: 1px solid #ddd;
		margin-bottom: -25px;
		max-width: 140px;
		.border-radius(3px);
	}

	.vendor-name {
		font-size: 24px;
		font-weight: bold;
		margin: 6px 0px 4px 0px;
	}
}

.vendor,
.story {
	.inner-content {
		.main-title {
			font-family: @fontkarla;
			font-style: italic;
			font-size: 55px;
			font-weight: 400;
			letter-spacing: 0;
		}

		.img-container {
			position: relative;
			z-index: 1000;

			img {
				padding: 0;
			}
		}
	}

	.inner-left-content {
		padding: 0 0 20px;

		img {
			max-width: 100%;
		}
	}
}

#total-price{
	display: block;
	font-size: 130%;
	font-weight: bold;
	padding: 4px 20px;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}

.panel-search {
	margin-top: 5px;

	.panel {
		border: 0;
		box-shadow: 0 0 0 transparent;
		border-top: 2px solid #333;
		border-bottom: 2px solid #333;
		border-radius: 0;

		.panel-heading {
			background: none;
			border: 0;
			padding: 12px;

			.panel-title {
				a {
					border-bottom: 0 !important;
				}
			}

			+ .panel-collapse {
				.panel-body {
					border-top: 0;
				}
			}
		}

		+ .panel {
			margin-top: -2px;
		}
	}

	.link-listing {
		a {
			border: 2px solid @darkyellow !important;
			margin-bottom: 5px;
			margin-right: 4px;

			&:hover {
				border-color: darken(@darkyellow, 5%) !important;
			}
		}
	}
}

.banner-badge {
	position: relative;
	margin-top: 12px;
	background: @pinkish;
	color: @white;
	padding: 15px 15px 0;

	i {
		font-size: 25px;
		position: relative;
		z-index: 100;
		bottom: -1px;
	}

	&:after {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(136, 183, 213, 0);
		border-top-color: @pinkish;
		border-width: 27px;
		margin-left: -27px;
	}
}



.nav-tabs-dotted {
	border-bottom: 2px dotted #ccc !important;

	> li {
		> a {
			border: 2px dotted #ccc !important;
			border-bottom: 0 !important;
			margin-bottom: -1px;
			font-family: @fontgothambold;
			text-transform: uppercase;
			color: #ccc !important;
			font-size: 18px;
			margin-right: 8px;

			&:hover {
				background: none;
				color: #333 !important;
			}

			&:focus {

			}
		}

		&.active {
			> a {
				color: #333 !important;

				&:hover {

				}

				&:focus {

				}
			}
		}
	}
}

.nav-tabs-line {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;

	> li {
		margin: 15px 0;
		border-left: 1px solid #ddd;

		> a {
			border: 0 !important;
			margin-bottom: 0;
			font-size: 17px;
			margin-right: 0;
			font-weight: bold;
			color: #555;
			padding: 5px 20px;

			&:hover {
				background: none;
				color: @pinkish !important;
			}

			&:focus {

			}
		}

		&.active {
			> a {
				color: @pinkish !important;

				&:hover {

				}

				&:focus {

				}
			}
		}

		&:first-child {
			border-left: 0;

			a {
				padding-left: 0;
			}
		}

		&:last-child {
			border-left: 0;

			a {
				padding-left: 0;
			}
		}
	}
}

.album-container {
	margin-top: 25px;
}

.tab-content {
	padding: 25px 0 0;
	font-size: 16px;

	.inner-content {
		//margin-top: -20px;

		h3, h4 {
			font-weight: 700;
		}

		&.inner-tab-content {
			margin-left: -15px;
		}
	}
}

.side-tab-content {
	padding-top: 25px;

	.inner-left-excerpt {
		font-weight: 700;
	}
}

.packages-container {
	margin-top: -155px;
	position: relative;
	z-index: 100;
}

.modal-packages {
	background: #333;
	padding-top: 40px;

	.modal-content {
		background: #333;
		border: 0;
		.no-shadow;
	}

	.modal-dialog {
		width: 65%;
		margin-bottom: 0;
	}

	.modal-header {
		border-bottom: 0;

		.modal-title {
			color: #fff;
			font-size: 54px;
			margin-bottom: 0px;
		}

		.modal-sub-title {
			color: #fff;
			font-family: @fontstylized;
			font-style: italic;
			font-weight: normal;
			font-size: 38px;
			margin-top: 8px;
		}
	}

	.modal-body {
		color: #fff;
	}

	.modal-footer {
		border-top: 0;
		text-align: center;
		margin-top: 0;
		padding-top: 0;
		padding-bottom: 40px;

		.btn {
			padding-left: 10%;
			padding-right: 10%;
			font-weight: bold;
			border-radius: 0;
			font-size: 16px;
		}
	}

	.nav-tabs-dotted {
		margin-top: 20px;
		text-align: center;
		padding-bottom: 7px;

		> li {
			display: inline;
			float: none;

			> a {
				display: inline;
				padding-bottom: 12px;

				&:hover {
					background: none;
					color: @green !important;
				}

				&:focus {

				}
			}

			&.active {
				> a {
					background: #333;
					color: @green !important;

					&:hover {

					}

					&:focus {

					}
				}
			}
		}
	}

	.title-note {
		color: @green;
		font-family: @fontstylized;
		font-style: italic;
		font-size: 30px;
		margin-top: 8px;
		padding: 0 95px 50px;
		border-bottom: 2px dotted #ccc !important;
	}

	form {
		width: 50%;
		margin: 45px auto 0;

		.form-title {
			font-family: @fontstylized;
			font-size: 28px;	
			font-style: italic;
			margin-bottom: 20px;
		}

		.input-group {
			margin-bottom: 15px;
		}

		.input-group-addon {
			border-radius: 0;
			background: #fff;
		}
	}

	.form-separator {
		border-bottom: 2px dotted #ccc;
		margin-top: 55px;
	}

	.package-details {
		border-bottom: 2px dotted #ccc;
		padding-bottom: 30px;

		li {
			margin-bottom: 20px;
			color: @white;
			font-size: 16px;
			padding: 0 30px;
			width: 75%;
			margin-right: auto;
			margin-left: auto;

			h5 {
				text-transform: uppercase;
				margin-bottom: 5px;
				color: #fff;
				font-size: 16px;
			}

			a {
				color: @white !important;
			}

			.well {
				color: #000;
				background: #FFF;
				a {
					color: #000 !important;
					border-bottom: none !important;
				}

				&:hover {
					text-decoration: none;
				}
				.media-object {
					width:120px;
				}
				.media-body {
					text-align: left;
				}
			}

			&.total-price {
				color: #fff;
				font-size: 25px;
				font-weight: bold;
			}
		}
	}
}


.thumb-container {
  width: auto;
  height: auto;
  margin: 0 0 11px;
  padding: 0px;
  overflow: hidden;
  position: relative;
  text-align: left;
}
.thumb-container img.thumb-image {
  margin: 0px;
  padding: 0px;
  max-width: none;
  text-align: left;
  float: left;
}
.thumb-container span.thumb-title {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: White;
  display: block;
  font-size: 9px;
  height: 20px;
  left: 0;
  margin-top: 2px;
  line-height: 20px;
  position: relative;
  text-align: center;
  width: 100%;
  overflow: hidden;
  float: left;
}
.thumb-container span.thumb-title .thumb-title-scroller {
  padding-left: 2px;
}
.thumb-container img {
  max-width: none;
  text-align: left;
}

div.list-group-item {
    height:auto;
    min-height:220px;
}
div.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;    
}

/** album gallery */
ul.gallery {
	li {
		
		margin-bottom: 30px;

		img{

		}
	}
}

.hotel-list-inner{
	.hotel-thumb {
		float: left;
		display: inline;
		width: 100px;
		margin: 13px 0 0 6px;
	}

	.hotel-info {
		width: 418px;
		margin-top: 15px;
		float: left;
	}

	.hotel-cost {
		display: block;
		width: 164px;
		margin-top: 10px;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		float: left;
		}
}

.login-content,
.submit-content {

	padding: 30px 40px 40px;

	h2 {
		margin-bottom: 30px;
		margin-top: 5px;
	}

	.form-control {
		
		height: 50px;
		padding: 0 20px;
		font-size: 18px;

	}

	.btn {
		background: none;
		margin-top: 20px;

		&:hover {
			background: rgba(0, 0, 0, 0.1);
			border: 2px solid #333 !important;
			color: #333 !important;
		}

		&.fb-login {
			opacity: .8;
			margin-top: 0;
			color: #FFF !important;
			background-color: #3b5998;
			i {
				margin-right: 5px;
			}

			&:hover {
				opacity: 1;
			}
		}
	}

	.text-separator {
		display: block;
		text-transform: uppercase;
		text-align: center;
		margin: 20px 0 10px;
		padding-top: 10px;
		border-top: 1px dotted rgba(0, 0, 0, 0.3);
	}

	.form-link {
		text-align: center;
	}

	.alert {
		background: rgba(255,255,255,.3);
		border: 1px solid rgba(255,255,255,.2);
		padding: 25px 30px;
		color: #333;
		font-size: 19px;
	}
}

.submit-content {
	background: @pinkish;
	margin-top: 30px;
	font-size: 16px;

	ul,
	ol {
		margin-top: 14px;
		padding-left: 20px;

		li {
			margin-bottom: 8px;
		}
	}

	.btn {
		padding: 20px;
		margin-top: 35px;
	}
}

.new-complete {
	

	
}

.lineup-list {
	padding-top: 20px;

	h2 {
		font-size: 23px;
		margin-top: 0;
		margin-bottom: 20px;
	}

	li {
		margin-bottom: 20px;

		ul {
			li {
				margin-bottom: 10px;
			}
		}
	}
}

.about-content,
.contact-content {
	margin-top: -20px;

	.about-hero,
	.contact-hero {
		background: url(../img/patterns_green.png);
		height: 250px;
		padding: 0 40px;

		.item-title {
			position: relative;
			top: 45%;

			.main-title {
				font-size: 35px;
				font-family: @fontgothambold;
				text-transform: uppercase;
				//letter-spacing: -2px;
			}
		}
	}

	.contact-hero {
		background: url(../img/patterns_blue.png);
	}

	.about-secondary,
	.contact-secondary {
		margin-top: 35px;
		font-weight: bold;
		font-size: 20px;
	}
}

.about-team {
	border-top: 1px dotted @darkgrey;
	margin-top: 35px;
	padding-top: 20px;

	h2 {
		font-family: @fontstylized;
		font-style: italic;
		font-size: 40px;
		letter-spacing: -2px;
		margin-bottom: 20px;
	}

	h4 {
		font-family: @fontgothambold;
		letter-spacing: -1px;
	}

	h5 {
		border-bottom: 1px solid @pinkish;
		display: inline-block;
		margin-bottom: 15px;
		padding-bottom: 10px;
	}

	.item-content {
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px dotted @darkgrey;
	}
}

.page-header {
	h1, h2 {
		font-family: @fontnoto;
		font-size: 32px;
	}

	h1{
		font-size: 46px;
	}
}

.vendor-feedback {
	font-style: italic;
	font-family: @fontnoto;
	color: #666;

	small{
		font-size: 80%;
		display: block;
		line-height: 20px;
		color: #999999;
		float: right;
	}	
}
.contact-item {
	.row {
		.item-container {
			background: #f5f5f5;
			padding: 30px;
			margin-top: 30px;
			font-size: 20px;
			font-weight: bold;

			.btn {
				margin-top: 10px;
				font-size: 18px;
				padding: 20px 30px;
			}
		}
	}
}

// Admin Styling 

.admin {
	.navbar > .container .navbar-brand, 
	.navbar > .container-fluid .navbar-brand {
		margin-left: 0;
	}

	.sidebar-menu {
		background: #fff;
		border-right: 1px solid #eee;
		padding: 0;

		.nav {
			padding-top: 15px;
		}

		.nav > li > a {
			position: relative;
			display: block;
			padding: 8px 15px;
			font-size: 16px;
			color: @darkgrey;

			&:hover {
				background: rgba(0, 0, 0, 0.02);
				color: darken(@green, 10%);
			}
		}

		.nav > li {
			&.active {
				a {
					border-right: 4px solid @green;
					color: @green;
					position: relative;
					right: -1px;
					margin-left: -1px;
					z-index: 1000;
				}
			}
		}

		.menu-title {
			border-top: 1px solid #ddd;
			padding: 20px 15px 5px;
			margin-top: 15px;
			text-transform: uppercase;
			font-size: 13px;
			font-weight: bold;
			color: @pinkish;
		}
	}

	.main-content {
		background: #fcfcfc;
		border-left: 1px solid #eee;
		margin-left: -1px;

		.inner-col {
			
		}

		.admin-title {
			margin-top: 5px;
		}

		.form-filter {
			background: #f7f7f7;
			border: 1px solid #CCD8DB;
			padding: 15px 15px;
			border-radius: 3px;
			margin-bottom: 20px;
			margin-top: 20px;
		}

		.admin-row {
			margin-top: 20px !important;
		}
	}

	.profile-sidebar {
		.thumbnail {
			height: 200px;

			img {
				height: 100%;
			}
		}
	}

	.country-list {
		margin-left: -15px !important;
		margin-right: -15px !important;

		li {
			margin: 5px 0;

			a {
				display: block;
				padding: 10px;
				border: 1px solid #ddd;
			}
		}
	}

	
	.vendor-content {
		margin-bottom: -25px;
	}

	.vendor-items,
	.stories-items {

		.vendor-item,
		.stories-item {
			text-align: center;
			border-left: 0;
			margin-bottom: 30px;

			.thumbnail {
				
				border-radius: 3px;
				padding: 0;

				.box-content {
					padding: 0 15px 15px;
				}

				.item-action {
					padding: 12px;
					margin: 0;
					border-top: 1px solid #ddd;
					background: #f7f7f7;

					div {
						padding: 0 8px;
					}

					i {
						margin-right: 5px;
					}
				}
			}

			h3 {
				a {
					overflow: inherit;
					text-overflow: inherit;
					white-space: inherit;
				}
			}
		}
	}

	.btn-yellow,
	.btn-green {
		font-size: 16px;
		font-weight: 700;
		padding: 8px 15px;

		i {
			margin-right: 5px;
			position: relative;
			top: 1px;
		}
	}

	.admin-table {
		> tbody {
			> tr {
				> td {
					vertical-align: middle;
				}
			}
		}

		th {
			background: #F8F8F8;
			font-size: 15px;
			padding: 12px 12px 11px;
		}

		td {
			background: #fff;
			padding: 12px 12px 11px;

			a {
				&.btn {
					border: 1px solid #ddd;
					background: none;
					padding: 6px 12px 5px;

					&:hover {
						border: 1px solid #bbb;
					}

					i {
						color: #ccc;
					}

					&.active {
						box-shadow: 0 0 0 transparent;

						i {
							color: #22B473;
						}
					}
				}

				&.btn-disabled {
					&.active {
						i {
							color: #C0272D;
						}
					}
				}

				&.btn-edit,
				&.btn-remove {
					border: 0;
					background: 0;
					border-radius: 0;
					padding-top: 0px;
					padding-bottom: 0px;

					i {
						color: #bbb; 
					}

					&:hover {
						border: 0;
						background: 0;

						i {
							color: @darkgrey;
						}
					}
				}

				&.btn-remove {
					position: relative;
					top: -1px;
					border-left: 1px solid #ddd;

					&:hover {
						border-left: 1px solid #ddd;

						i {
							color: @pinkish;
						}
					}
				}
			}
		}
	}

	.note-codable {
		display: none;
	}

	.note-editable {
		min-height: 120px;
		border: 1px solid #DDD;
		padding: 10px;
		margin-top: 10px;
		background: #FFF;

		&:focus {
			outline: none;
		}
	}

	.note-toolbar {
		padding: 6px;
		background: #F7F7F7;
		margin-left: 0px;
		margin-bottom: -10px;
		border-top: 1px solid #DDD;
		border-right: 1px solid #DDD;
		border-left: 1px solid #DDD;
	}

	.fieldset {
		border: 1px solid #CCD8DB;
		background: #f7f7f7;
		padding: 15px 20px 6px;
		border-radius: 3px;
		margin-bottom: 20px;

		.checkbox {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.tab-content {
		padding: 0 0 10px;

		.form-title {
			margin-top: 25px;

			&.form-title-extend {
				border-bottom: 1px dotted #ddd;
				margin-bottom: 20px;
				padding-bottom: 15px;
			}
		}
	}

	.admin-filter {
		background: #fcfcfc;
		border: 1px solid #ddd;
		padding: 15px 30px 0px;
		margin-bottom: -1px;
		margin-right: 1px;
		border-radius: 3px 3px 0 0;

		[class*="col-"] {
			padding-left: 0;
		}
	}
}

@media (max-width: 767px) {
	.nav-footer {
		display: none;
	}
}

@media (max-width: 768px) {
	#site-search {
		padding-bottom: 20px;

		.form-group,
		.input-group {
			margin-bottom: 15px !important;
		}
	}

	.content-slider {

		[class*="col-"] {
			margin: 0;
			padding: 0;

			.box {
				border-left: 0;
				min-height: 425px;
				text-align: center;
			}
		}
	}
}

@media (min-width: 768px) {
	#header {
		opacity: 0.9;
		.container {
			width: 100%;
		}

		.navbar-brand {
			span {
				display: none;
			}
		}
	}

	#site-search {
		padding-bottom: 20px;

		.col-first {
			border-right: 0;
			margin-bottom: 15px;
		}
	}

	.content-slider {

		[class*="col-"] {
			margin: 0;
			padding: 0;

			.box {
				border-left: 1px dotted #cccccc;
				min-height: 425px;
				text-align: center;
			}
		}
	}



		.vendor-item,
		.stories-item,
		.places-item {

			.thumbnail {
				
				padding-left: 0;
				padding-right: 0;

				&:hover {
					.excerpt {
						height: 300px;
						width: 100%;
						top: 26px;
						margin: 0;
					}
				}
			}

		}

	

	#footer-bottom {
		.navbar-brand {
			float: none;
		}

		.nav-brand-container {
			text-align: center;
			padding-top: 20px;

			span {
				top: 2px;
			}
		}

		.nav-footer {
			padding: 0 0 15px;

			.navbar-nav {
				float: none !important;
				text-align: center;
				margin-top: 0;
				
				li {
					float: none;
					display: inline-block;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	#header {
		.container {
			width: 970px;
		}

		.navbar-brand {
			span {
				display: inline-block;
			}
		}
	}

	#site-search {
		padding-bottom: 15px;

		.col-first {
			border-right: 1px dotted #cccccc;
			margin-bottom: 0;
		}
	}

	.ribbon-title {

		&.ribbon-green {

			&.ribbon-right {
				padding-right: 35px;
				padding-top: 8px;

				&.title-blink-right {
					background: url(../img/title-blink.png) no-repeat 115px -4px;
					margin-right: -45px;
				}
			}

			&.ribbon-left {
				padding-left: 35px;
				padding-top: 8px;

				&.title-blink-left {
					background: url(../img/title-blink.png) no-repeat -75px -4px;
					margin-left: -45px;
				}
			}
		}
	}

	.features-slider {

		.thumbnails {
			li {
				position: relative;

				img {
					width: auto;
					height: 100%;
					
				}
			}
		}
	}

	.vendor-items,
	.stories-items,
	.places-items {
		.vendor-item,
		.stories-item,
		.places-item {
			.thumbnail:hover {
				.excerpt {
					width: 87.8%;
						height: 141px;
				}
			}
		}
	}

	#footer-bottom {
		.navbar-brand {
			float: left;
		}

		.nav-brand-container {
			text-align: left;
			padding-top: 0;

			span {
				top: 22px;
			}
		}

		.nav-footer {
			padding: 0;

			.navbar-nav {
				float: right !important;
				text-align: left;
				margin-top: 10px;
				
				li {
					float: left;
					display: block;
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 992px) {

	.content-slider {

		[class*="col-"] {
			margin: 0;
			padding: 0;

			.box {
				border-left: 0;
				min-height: 425px;
				text-align: center;
			}
		}
	}

	
}

@media (min-width: 1200px) {
	#header {
		.container {
			width: 1170px;
		}

		.navbar-brand {
			span {
				display: inline-block;
			}
		}
	}

	#site-search {
		padding-bottom: 15px;

		.col-first {
			border-right: 1px dotted #cccccc;
			margin-bottom: 0;
		}
	}

	.ribbon-title {

		&.ribbon-green {

			&.ribbon-right {
				padding-right: 35px;
				padding-top: 8px;

				&.title-blink-right {
					background: url(../img/title-blink.png) no-repeat 115px -4px;
					margin-right: 0;
				}
			}

			&.ribbon-left {
				padding-left: 35px;
				padding-top: 8px;

				&.title-blink-left {
					background: url(../img/title-blink.png) no-repeat -75px -4px;
					margin-left: 0;
				}
			}
		}
	}

	.features-slider {

		.thumbnails {
			li {
				position: relative;

				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}

	.content-slider {

		[class*="col-"] {
			margin: 0;
			padding: 0;

			.box {
				border-left: 1px dotted #cccccc;
				min-height: 425px;
				text-align: center;
			}
		}
	}

	#footer-bottom {
		.navbar-brand {
			float: left;
		}

		.nav-brand-container {
			text-align: left;
			padding-top: 0px;

			span {
				top: 22px;
			}
		}

		.nav-footer {
			padding: 0;

			.navbar-nav {
				float: right !important;
				text-align: left;
				margin-top: 10px;
				margin-bottom: 10px;
				
				li {
					float: left;
					display: block;
				}
			}
		}
	}
}


.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, 
.has-success .radio-inline, .has-success .checkbox-inline,
 {
	color: #000;
}

.has-success .form-control, .has-success .select2-search input[type="text"] {
	color: #000;
	border-color: #bdc3c7;
	box-shadow: none;
}

// footer
.footer{
	padding-top: 20px; 
	background-color: #333;

	h3 {
		color: #FFF;
		text-transform: uppercase;
		font-size: 95%;
	}

	p,a {
		color:#DDDDDD;
	}

	ul.menu {

		    list-style: none;
		    padding: 8px 0px;
		    margin:0;
		    border-top: 1px solid #999;
		

		li { 
		    padding-left: 1em; 
		    text-indent: -.7em;
		}

		li:before {
		    content: "";
		    color: #DDD; /* or whatever color you prefer */
		}
	}

	.recent-posts li {
		.post-date {
			top:5px;
			left:0px;
			border: 2px solid #ccc;
			color: #CCC;
			background: none;
			padding: 3px 3px;
			width:34px;
			font-size: 80%;

			.post-date-day {
				display: block;
			}

			.post-date-month {
				font-weight: normal;
				font-size: 80%;
			}
		}
	}

	.form-group {
		padding: 12px 0px;
	}
}

@media (max-width: 480px) {

	#header {
		.container {
			padding: 0;
		}

		.navbar-collapse {
			padding: 0;
		}

		.navbar-nav {
			background: @darkgrey;
			margin: 0;

			li {
				 border-left: 0;
				 border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			}

			li.link-register {
				padding: 0;

				a {
					padding: 17px 20px 16px 20px;
					top: 0;
				}
			}

			&.social-media {
				margin: 0;
				text-align: center;

				li {
					width: 20%;
					text-align: center;
					display: inline-block;	
				}
			}
		}

		.navbar-brand {
			padding-left: 5px;
		}
	}

	.vendor-items,
	.stories-items,
	.places-items {
		.vendor-item,
		.stories-item,
		.places-item {
			border: 0;

			.thumbnail {
				padding-left: 0;
				padding-right: 0;

				&:hover {
					.excerpt {
						height: 247px;
						width: 92.6%;
						top: 26px;
						margin: 0;
					}
				}
			}
		}

		&:first-child {
			.vendor-item,
			.stories-item,
			.places-item {
				.thumbnail {
					border: 0;
					padding-top: 0;

					.excerpt {
						top: 0;
					}
				}
			}
		}
	}

	#footer-bottom .nav-brand-container span {
		top: 0;
		padding: 20px;
		text-align: center;
		margin: 0;
		display: block;
	}

	.nav-footer {
		display: none;
	}
}

.datepicker {
	&.dropdown-menu {
		min-width: 262px;
		border-radius: 0;
		margin-top: 0px;
		background: #f9f9f9;
	}

	&.datepicker-dropdown {

		&:before,
		&:after {
			border-bottom: 0;
		}
	}

	table {
		width: 100%;
	}
}

.datepicker table tr td span.active:hover, 
.datepicker table tr td span.active:hover:hover, 
.datepicker table tr td span.active.disabled:hover, 
.datepicker table tr td span.active.disabled:hover:hover, 
.datepicker table tr td span.active:focus, 
.datepicker table tr td span.active:hover:focus, 
.datepicker table tr td span.active.disabled:focus, 
.datepicker table tr td span.active.disabled:hover:focus, 
.datepicker table tr td span.active:active, 
.datepicker table tr td span.active:hover:active, 
.datepicker table tr td span.active.disabled:active, 
.datepicker table tr td span.active.disabled:hover:active, 
.datepicker table tr td span.active.active, 
.datepicker table tr td span.active:hover.active, 
.datepicker table tr td span.active.disabled.active, 
.datepicker table tr td span.active.disabled:hover.active, 
.open .dropdown-toggle.datepicker table tr td span.active, 
.open .dropdown-toggle.datepicker table tr td span.active:hover, 
.open .dropdown-toggle.datepicker table tr td span.active.disabled, 
.open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
	color: #ffffff;
	background-color: @green;
	border-color: darken(@green, 10%);
}


.stepwizard {
	text-align: center;
	display: table;     
	width: 100%;
	position: relative;

	.stepwizard-step {
		padding-right: 60px;
		padding-left: 30px;
	}
	.stepwizard-step p {
	    margin-top: 10px;
	    
	}

	.stepwizard-row {
	    display: table-row;
	}

	.stepwizard-step button[disabled] {
	    opacity: 1 !important;
	    filter: alpha(opacity=100) !important;
	}

	.stepwizard-row:before {
	    top: 14px;
	    bottom: 0;
	    position: absolute;
	    content: " ";
	    width: 100%;
	    height: 1px;
	    background-color: #ccc;
	    z-order: 0;
	    
	}

	.stepwizard-step {    
	    display: table-cell;
	    text-align: center;
	    position: relative;
	}

	.btn-circle {
	  width: 30px;
	  height: 30px;
	  text-align: center;
	  padding: 6px 0;
	  font-size: 12px;
	  line-height: 1.428571429;
	  border-radius: 15px;
	}
}

#stampSelectCode ul li {
	width: 24.8%;
	display: block;
	box-sizing: border-box;
	float: left;
	padding: 4px;

	a{
		cursor: pointer;
		position: relative;
		span {
			position: absolute;
			top: -30px;
			color: #FFF;
			z-index: 1000000;
			background: #000;
			padding: 2px 8px;
			height: 30px;
			font-size: 18px;
		}
	}
}

.btn-like {
	background-color: #FD75A3;
	
}

.btn-like:hover {
	background-color: #FD75A3;
}

.btn-unlike {
	
}

.btn-unlike:hover {

}


.tab-content {
	h2 {
		font-size: 20px;
		font-weight: bold;
	}

	h3 {
		font-size: 18px;
		font-weight: bold;

		.package-title{
			color: #ff6699 !important;
		}
	}
}

@import url("admin.less");
@import url("story.less");
@import url("vendor.less");
@import url("mobile.less");




