
/* Fonts
---------------------------*/ 
@fontkarla: 'Helvetica Neue', Helvetica, Arial, sans-serif; //'Noto Sans', sans-serif; //'Karla', sans-serif;
@fontmont: 'Montserrat', sans-serif;
@fontcrimson: 'Crimson Text', serif;
@fontgothambold: 'gotham_boldregular', sans-serif;
@fontgotham: 'gotham_regular', sans-serif;
@fontnoto : 'Noto Serif', serif;
@fontstylized: 'Noto Serif', serif;


@lightgrey:	  #999999;
@darkgrey:    #333333;
@white:       #ffffff;
@smoke:       #F5F5F5;
@green:       #66CC99;
@darkyellow:  #FFCC00;
@pinkish:     #FF6699; //ff0198
@blue:        #0099FF;
@alizarin:	  #e74c3c;
@purple:	  #8e44ad;
@lcyan:		  #66cbff;
@dcyan:		  #3eb1e2;

@headerbg	:  @dcyan;
@link		:  @dcyan;

@border:	@lightgrey;


