@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700italic,700);

@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic);

@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,700);
/*
  Some copyright thingy
*/
/* Imports
---------------------------*/
/* Fonts
---------------------------*/.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.no-border {
  border: 0 none !important;
}
.no-bg {
  background: none !important;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.no-shadow {
  box-shadow: 0 0 0 transparent;
}
.overflow-hidden {
  overflow: hidden;
}
.reset-all {
  background: none;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  box-shadow: 0 0 0 transparent;
  border: 0 none;
  padding: 0;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
}
@media (min-width: 1200px) {
  .container {
    width: 1024px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-top: 0px;
}
h3 {
  font-size: 24px;
  font-weight: bold;
}
a {
  color: #20a0d7;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-hollo {
  border-radius: 0;
  border: 2px solid #333;
  background: #ffffff;
  font-weight: bold;
}
.btn-hollo.btn-hollo-pink {
  border: 2px solid #ff6699 !important;
}
.btn-hollo.btn-hollo-pink:hover {
  background: #ff5c92;
  border: 2px solid #ff6699 !important;
  color: #fff !important;
}
.btn-hollo.btn-hollo-blue {
  border: 2px solid #0099ff !important;
}
.btn-hollo.btn-hollo-blue:hover {
  background: #0093f5;
  border: 2px solid #0099ff !important;
  color: #fff !important;
}
.btn-hollo.btn-hollo-green {
  border: 2px solid #66cc99 !important;
}
.btn-hollo.btn-hollo-green:hover {
  background: #5ec994;
  border: 2px solid #66cc99 !important;
  color: #fff !important;
}
.btn.btn-yellow {
  background: #ffcc00;
  color: #333333;
}
.btn.btn-yellow:hover {
  background: #f5c400;
}
.btn.btn-grey {
  background: #333333;
}
.btn.btn-grey:hover {
  background: #2e2e2e;
}
.btn.btn-green {
  background: #66cc99;
  color: #333333;
}
.btn.btn-green:hover {
  background: #5ec994;
}
.btn.btn-sort {
  border: 0;
  background: none;
  padding: 0;
  position: relative;
  color: #20a0d7;
  font-weight: 400;
  font-size: 14px;
  top: -1px;
}
.btn.btn-sort:focus {
  outline: 0 none;
  box-shadow: 0 0 0 transparent;
}
.btn.btn-sort i {
  font-size: 12px;
  margin-left: 4px;
  position: relative;
  top: -1px;
}
.dropdown-menu {
  width: 100%;
  border-radius: 3px;
  top: 40px;
  background: #fff;
  border: 1px solid #ddd;
}
.dropdown-menu.dropdown-menu:after,
.dropdown-menu.dropdown-menu:before {
  bottom: 100%;
  left: 88%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.dropdown-menu.dropdown-menu:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -2px;
}
.dropdown-menu.dropdown-menu:before {
  border-color: rgba(221, 221, 221, 0);
  border-bottom-color: #ddd;
  border-width: 11px;
  margin-left: -3px;
}
.radio label,
.checkbox label {
  line-height: initial;
}
.form-horizontal .control-label {
  line-height: inherit;
}
.listing-sortby .dropdown-menu {
  min-width: 160px;
  left: -50%;
  top: 38px;
}
.listing-sortby .dropdown-menu:before,
.listing-sortby .dropdown-menu:after {
  left: 84%;
}
.listing-sortby .dropdown-menu li {
  padding-right: 0;
}
.listing-sortby .dropdown-menu li a {
  border-bottom: 0 !important;
}
form label {
  text-transform: uppercase;
  margin-bottom: 2px;
}
form .form-control {
  border-radius: 0;
  box-shadow: 0 0 0 transparent;
}
form .input-group .input-group-btn {
  background: #fff;
}
form .input-group .input-group-btn > .btn {
  border-radius: 0;
}
form .input-group .input-group-btn > .btn:hover {
  color: #66cc99;
  background-color: #fff;
}
form .wysihtml5-sandbox {
  border: 1px solid #ddd !important;
}
form ul.wysihtml5-toolbar {
  background: #F7F7F7;
  border: 1px solid #ddd;
  padding: 10px 10px 0;
  margin-bottom: -1px;
}
.overlay {
  -webkit-box-shadow: inset 0px 0px 115px 49px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 115px 49px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 115px 49px rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
}
/*
  Title styles
*/
#header {
  background: #3eb1e2;
  border-bottom: 3px solid #20a0d7;
}
#header .navbar-brand {
  font-family: 'gotham_boldregular', sans-serif;
  text-transform: uppercase;
  padding: 0;
  height: 53px;
  line-height: 54px;
  color: #ffffff;
}
#header .navbar-brand:hover {
  color: rgba(255, 255, 255, 0.5);
}
#header .navbar {
  background: none;
  border: 0;
  margin-bottom: 0;
}
#header .navbar img {
  width: 83%;
  position: relative;
  top: 3px;
}
#header .navbar-nav li {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
#header .navbar-nav li a {
  color: #ffffff;
  padding: 20px 20px 19px 20px;
  font-size: 15px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
#header .navbar-nav li a .fa {
  text-shadow: 0 0 0 transparent;
  font-size: 13px;
  margin-left: 4px;
}
#header .navbar-nav li a:hover {
  background: #20a0d7;
}
#header .navbar-nav li > ul.dropdown-menu {
  padding: 0;
  border: 0;
  border-bottom: 3px solid #ff6699;
  border-radius: 0;
  min-width: 200px;
}
#header .navbar-nav li > ul.dropdown-menu li {
  margin: 0;
}
#header .navbar-nav li > ul.dropdown-menu li a {
  box-shadow: 0 0 0 transparent;
  color: #333333;
  text-shadow: 0 0 0 transparent;
  padding: 12px 18px;
}
#header .navbar-nav li > ul.dropdown-menu li a:hover {
  background: #f9f9f9;
}
#header .navbar-nav li.link-submit a {
  background: none;
}
#header .navbar-nav li.link-submit a:hover {
  background: #ff6699;
}
#header .navbar-nav li.link-submit.open {
  background: #ff6699;
}
#header .navbar-nav li.link-submit .link-story:hover {
  background: #f9f9f9;
}
#header .navbar-nav li.link-submit .link-story a {
  background: url('../img/icon-fga.png') no-repeat right 8px;
  margin-right: 12px;
}
#header .navbar-nav li.link-submit .link-story a:hover {
  background: url('../img/icon-fga.png') no-repeat right 8px #f9f9f9;
}
#header .navbar-nav li.link-login a {
  background: none;
}
#header .navbar-nav li.link-login a:hover {
  background: #20a0d7;
}
#header .navbar-nav li.link-register a {
  background: #ff6699;
  border-bottom: 3px solid #ff3d7e;
  margin-bottom: -3px;
}
#header .navbar-nav li.link-register a:hover {
  background: #ff3d7e;
  border-bottom: 3px solid #ff6699;
}
#header .navbar-nav.social-media {
  margin-top: 4px;
  margin-right: 12px;
}
#header .navbar-nav.social-media li {
  border: 0;
}
#header .navbar-nav.social-media li a {
  padding: 17px 12px 14px;
  opacity: .3;
}
#header .navbar-nav.social-media li a i {
  font-size: 20px;
}
#header .navbar-nav.social-media li a:hover {
  opacity: 1;
  background: none;
}
#site-search {
  background: #f5f5f5;
  background: url("../img/bg-pattern.png") 0 -18px;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}
#site-search .inner {
  background: rgba(255, 255, 255, 0.6);
  padding: 13px 20px 18px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
}
#site-search .col-first {
  border-right: 1px dotted #cccccc;
}
#site-search form label {
  font-size: 12px;
  font-weight: bold;
}
#site-search form .form-group {
  margin-bottom: 0;
}
#site-search form .form-group .dropdown-menu {
  width: 100%;
  border-radius: 3px;
  top: 40px;
  background: #fff;
  border: 1px solid #ddd;
  z-index: 100000;
}
#site-search form .form-group .dropdown-menu.dropdown-menu:after,
#site-search form .form-group .dropdown-menu.dropdown-menu:before {
  bottom: 100%;
  left: 88%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#site-search form .form-group .dropdown-menu.dropdown-menu:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -2px;
}
#site-search form .form-group .dropdown-menu.dropdown-menu:before {
  border-color: rgba(221, 221, 221, 0);
  border-bottom-color: #ddd;
  border-width: 11px;
  margin-left: -3px;
}
#site-search label {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
#site-search .form-group {
  margin-bottom: 0;
}
#site-search .input-group {
  border: 1px solid #ccc;
  border-radius: 25px;
}
#site-search .input-group:focus {
  border: 1px solid #66cc99;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(102, 204, 153, 0.0075), 0 0 8px rgba(102, 204, 153, 0.6);
  box-shadow: inset 0 1px 1px rgba(102, 204, 153, 0.0075), 0 0 8px rgba(102, 204, 153, 0.6);
}
#site-search .btn,
#site-search .input-group-btn,
#site-search .input-group-addon {
  border-radius: 0px 25px 25px 0px;
  background: #fff;
  font-size: 16px;
  border: 0;
  color: #3eb1e2;
}
#site-search .btn:hover,
#site-search .input-group-btn:hover,
#site-search .input-group-addon:hover {
  color: #66cc99;
}
#site-search .btn i,
#site-search .input-group-btn i,
#site-search .input-group-addon i {
  position: relative;
  top: 0;
  right: 3px;
}
#site-search .btn i.fa-search,
#site-search .input-group-btn i.fa-search,
#site-search .input-group-addon i.fa-search {
  top: -1px;
}
#site-search .btn i.fa-angle-down,
#site-search .input-group-btn i.fa-angle-down,
#site-search .input-group-addon i.fa-angle-down {
  font-size: 19px;
}
#site-search .form-control {
  border: 0;
  border-radius: 25px 0px 0px 25px;
  padding-left: 20px;
}
#site-search .form-control:focus {
  border-color: 0;
  outline: 0;
  -webkit-box-shadow: inset 0 0 0 transparent;
  box-shadow: inset 0 0 0 transparent;
}
#site-search .text-separator span {
  display: block;
  position: relative;
  top: 8px;
}
#site-hero {
  padding: 0px;
  height: 400px;
  background: url(../img/hero.jpg) center center no-repeat;
  margin-top: -30px;
  margin-bottom: 30px;
}
#site-hero h1 {
  color: #fff;
  font-family: 'gotham_boldregular', sans-serif;
  font-size: 50px;
  text-shadow: 1px 1px 4px #838383;
}
#site-hero h1 span {
  color: #FFF;
  background: #FF278A;
  padding: 0px 12px;
  text-shadow: none;
}
#site-hero .search-wrapper {
  background: rgba(255, 255, 255, 0.6);
  padding: 13px 20px 18px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
}
#site-hero .search-wrapper .form-group {
  margin-bottom: 0px;
}
#site-hero .search-wrapper .form-control {
  border: 0;
  border-radius: 25px 0px 0px 25px;
  padding-left: 20px;
}
#site-hero .search-wrapper .input-group {
  border: 1px solid #ccc;
  border-radius: 25px;
}
#site-hero .search-wrapper .input-group-addon {
  border-radius: 0px 25px 25px 0px;
  background: #fff;
  font-size: 16px;
  border: 0;
  color: #3eb1e2;
}
#content {
  padding: 30px 0px;
}
#content .features-slider .carousel .carousel-control {
  border-bottom: 0;
}
#content .thumbnails li a {
  border-bottom: 0;
}
#content .thumbnails li a:hover {
  border-bottom: 0;
}
.box {
  padding: 20px;
}
.hero-slider {
  margin-bottom: 40px;
  display: none;
}
.content-slider {
  border-bottom: 1px dotted #333333;
}
.content-slider [class*="col-"] {
  margin: 0;
  padding: 0;
}
.content-slider [class*="col-"] .box {
  border-left: 1px dotted #333333;
  min-height: 425px;
  text-align: center;
}
.content-slider [class*="col-"]:first-child .box {
  border-left: 0;
}
.content-slider .upcoming .ribbon-title {
  margin-bottom: -2px;
}
.content-slider .highlights .ribbon-title-container .ribbon-title.ribbon-single {
  margin-left: 36px;
}
.content-slider .highlights .ribbon-title-container {
  margin-bottom: -45px;
}
.content-slider .upcoming-date {
  width: 145px;
  height: 145px;
  background: #333333;
  color: #ffffff;
  border-radius: 80px;
  margin: 0 auto;
}
.content-slider .upcoming-date span {
  display: block;
}
.content-slider .upcoming-date span.month {
  font-family: 'Noto Serif', serif;
  font-style: italic;
  font-size: 22px;
  padding-top: 23px;
}
.content-slider .upcoming-date span.date {
  font-size: 75px;
  font-weight: 700;
  line-height: 65px;
}
.content-slider .item-avatar {
  width: 145px;
  height: 145px;
  background: #333333;
  border-radius: 80px;
  margin: 0 auto;
  overflow: hidden;
}
.content-slider .item-avatar img {
  width: 145px;
}
.content-slider .box-content {
  padding: 0 35px;
}
.content-slider .box-content h3 {
  font-family: 'Noto Serif', serif;
  font-size: 26px;
  font-style: italic;
  margin-bottom: 20px;
  margin-top: 15px;
  font-weight: 400;
  font-size: 28px;
}
.content-slider .box-content .btn-hollo {
  padding: 8px 30px;
  font-size: 15px;
}
.content-slider .box-content span {
  display: block;
  font-size: 13px;
  margin-top: -12px;
  margin-bottom: 15px;
}
.content-slider .box-content span strong {
  text-transform: uppercase;
}
.content-slider .box-content a {
  font-size: 16px;
}
.content-slider #carousel-stories .item-avatar {
  width: 145px;
  height: 145px;
  background: #333333;
  border-radius: 80px;
  margin: 0 auto;
  overflow: hidden;
}
.content-slider #carousel-stories .item-avatar img {
  width: 250px;
  position: relative;
  left: -35%;
}
.content-slider #carousel-highlights .item-avatar img {
  top: -15px;
  position: relative;
}
.carousel-content > .item {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.carousel-content .active.left,
.carousel-content .active.right {
  left: 0;
  opacity: 0;
  z-index: 2;
}
.carousel-content .next,
.carousel-content .prev {
  left: 0;
  opacity: 1;
  z-index: 1;
}
.carousel-content .carousel-control {
  background: none;
  border: 0 !important;
  top: 15%;
  bottom: auto;
  text-shadow: 0 0 0 transparent;
  font-size: 35px;
}
.carousel-content .carousel-indicators {
  position: relative;
  bottom: 0;
  margin-top: 20px;
}
.carousel-content .carousel-indicators li {
  border: 1px solid #333;
  width: 8px;
  height: 8px;
}
.carousel-content .carousel-indicators .active {
  width: 8px;
  height: 8px;
  margin: 1px;
  background: #333;
}
.features-slider {
  border-bottom: 1px dotted #333333;
  padding-bottom: 50px;
  margin-bottom: 30px;
  text-align: center;
}
.features-slider .carousel {
  margin-bottom: 15px;
}
.features-slider .carousel .carousel-indicators {
  bottom: -10px;
}
.features-slider .carousel .carousel-control {
  background: none;
  font-size: 40px;
  color: #ffffff;
}
.features-slider .carousel .carousel-caption {
  right: 0;
  left: 0;
  bottom: 0;
  padding-bottom: 0;
  padding: 15px;
  background: rgba(0, 0, 0, 0.5);
}
.features-slider .carousel .carousel-caption span {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}
.features-slider .carousel .carousel-caption h4 {
  margin: 0px;
  font-size: 26px;
}
.features-slider .carousel .carousel-caption p {
  font-family: 'Noto Serif', serif;
  font-size: 16px;
  font-style: italic;
}
.features-slider .thumbnails li {
  position: relative;
}
.features-slider .thumbnails li img {
  width: 100%;
}
.features-slider .thumbnails li .img-container {
  height: 200px;
  overflow: hidden;
}
.features-slider .thumbnails li a {
  display: block;
  position: relative;
}
.features-slider .thumbnails li a .carousel-caption {
  bottom: -220px;
}
.features-slider .thumbnails li a:hover h3 {
  display: none;
}
.features-slider .thumbnails li a:hover .carousel-caption {
  top: 0;
}
.features-slider .thumbnails li h3 {
  position: absolute;
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  font-size: 32px;
  top: 32%;
  text-shadow: 0px 0px 3px #000000;
  z-index: 10;
}
.features-slider .thumbnails li span.info-text {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  bottom: 15px;
  color: #fff;
}
.features-slider a {
  color: #FFF;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.features-slider a.slider-action {
  color: #333333;
  text-decoration: none;
  border-bottom: 2px solid #333333;
}
.features-slider a.slider-action:hover {
  color: rgba(51, 51, 51, 0.7);
  border-color: #66cc99;
  text-decoration: none;
}
.features-slider.genre-slider a {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.features-slider.genre-slider .thumbnails li a:hover h3 {
  display: block;
}
.slider-title {
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: 'Noto Serif', serif;
  font-style: italic;
  font-size: 32px;
}
.other-vendors {
  padding-top: 20px;
}
.other-vendors h2 {
  font-size: 30px;
}
.related-stories {
  background: #f5f5f5;
  border-bottom: 0;
  padding-top: 35px;
  padding-bottom: 50px;
}
.related-stories .thumbnails li a .carousel-caption {
  position: relative;
  right: auto;
  left: auto;
  bottom: 0;
  padding-bottom: 0;
  padding: 12px;
  max-height: 100px;
  background: #fff;
  color: #333333;
  text-shadow: 0 0 0 transparent;
  overflow: hidden;
}
.related-stories .thumbnails li a .carousel-caption h4 {
  font-size: 23px;
}
.related-stories .thumbnails li a .carousel-caption p {
  font-family: 'Noto Serif', serif;
  font-size: 16px;
  font-style: italic;
}
.related-stories h4 {
  font-family: 'Noto Serif', serif;
  font-style: italic;
  font-weight: bold;
}
.related-stories .author {
  text-transform: uppercase;
}
.related-stories .author span {
  text-transform: lowercase;
  color: #bbb;
}
.ribbon-title-container .ribbon-title {
  display: inline-block;
  margin-left: 15px;
}
.ribbon-title-container .ribbon-title:first-child {
  margin-left: 0;
}
.ribbon-title-container .ribbon-title.ribbon-left {
  border-right: 5px solid #333;
  padding-top: 5px;
  height: 60px;
}
.ribbon-title-container .ribbon-title.ribbon-left .center {
  margin-right: -10px;
}
.ribbon-title-container .ribbon-title.ribbon-right {
  border-left: 5px solid #333;
  padding-top: 5px;
  height: 60px;
}
.ribbon-title-container .ribbon-title.ribbon-right .center {
  margin-left: -10px;
}
.ribbon-title-container .ribbon-title.ribbon-single {
  border-left: 5px solid #333;
  padding-top: 5px;
  height: 80px;
  margin-bottom: -22px;
  margin-left: 15px;
}
.ribbon-title-container .ribbon-title.ribbon-single .center {
  padding-left: 15px;
}
.ribbon-title {
  font-family: 'gotham_boldregular', sans-serif;
  text-transform: uppercase;
}
.ribbon-title .title {
  font-size: 16px;
  margin: 0;
  line-height: 21px;
}
.ribbon-title.ribbon-yellow .center {
  background: #ffcc00;
  padding: 8px 8px 6px;
  top: -14px;
  position: relative;
  display: inline-block;
  margin-right: -5px;
  margin-left: -5px;
}
.ribbon-title.ribbon-yellow .left {
  background: url(../img/ribbon.png) no-repeat left -2px;
  height: 39px;
  width: 18px;
  display: inline-block;
}
.ribbon-title.ribbon-yellow .right {
  background: url(../img/ribbon.png) no-repeat right -2px;
  display: inline-block;
  width: 18px;
  height: 39px;
}
.ribbon-title.ribbon-blue .center {
  background: #0099ff;
  padding: 8px 8px 6px;
  top: -14px;
  position: relative;
  display: inline-block;
  margin-right: -5px;
  margin-left: -10px;
  border-radius: 6px 0px 0px 6px;
}
.ribbon-title.ribbon-blue .left {
  background: url(../img/ribbon.png) no-repeat left -46px;
  height: 39px;
  width: 18px;
  display: inline-block;
}
.ribbon-title.ribbon-blue .right {
  background: url(../img/ribbon.png) no-repeat right -46px;
  display: inline-block;
  width: 18px;
  height: 39px;
}
.ribbon-title.ribbon-pink .center {
  background: #ff6699;
  padding: 8px 15px 6px 8px;
  top: -14px;
  position: relative;
  display: inline-block;
  margin-right: -5px;
  margin-left: -5px;
  z-index: 10;
  border-radius: 0px 6px 6px 0px;
}
.ribbon-title.ribbon-pink .left {
  background: url(../img/ribbon.png) no-repeat left -90px;
  height: 39px;
  width: 18px;
  display: inline-block;
}
.ribbon-title.ribbon-pink .right {
  background: url(../img/ribbon.png) no-repeat right -90px;
  display: inline-block;
  width: 18px;
  height: 39px;
}
.ribbon-title.ribbon-pink.ribbon-fly {
  margin-top: -18px;
  margin-left: -38px;
}
.ribbon-title.ribbon-green .center {
  background: #66cc99;
  padding: 8px 8px 7px;
  top: -14px;
  position: relative;
  display: inline-block;
  margin-right: -5px;
  margin-left: -5px;
}
.ribbon-title.ribbon-green .left {
  background: url(../img/ribbon.png) no-repeat left -133px;
  height: 39px;
  width: 18px;
  display: inline-block;
}
.ribbon-title.ribbon-green .right {
  background: url(../img/ribbon.png) no-repeat right -133px;
  display: inline-block;
  width: 18px;
  height: 39px;
}
.ribbon-title.ribbon-green.ribbon-right {
  padding-right: 35px;
  padding-top: 8px;
}
.ribbon-title.ribbon-green.ribbon-right .center {
  border-radius: 6px 0px 0px 6px;
}
.ribbon-title.ribbon-green.ribbon-right.title-blink-right {
  background: url(../img/title-blink.png) no-repeat 115px -4px;
}
.ribbon-title.ribbon-green.ribbon-left {
  padding-left: 35px;
  padding-top: 8px;
}
.ribbon-title.ribbon-green.ribbon-left .center {
  border-radius: 0px 6px 6px 0px;
}
.ribbon-title.ribbon-green.ribbon-left.title-blink-left {
  background: url(../img/title-blink.png) no-repeat -75px -4px;
}
.ribbon-title.ribbon-single {
  position: relative;
}
.ribbon-title.ribbon-single .quote-right {
  background: url(../img/title-quote.png) no-repeat 0 0;
  height: 20px;
  width: 30px;
  position: absolute;
  right: -35px;
  top: 2px;
}
.ribbon-title.ribbon-single .quote-left {
  height: 20px;
  width: 30px;
  background: url(../img/title-quote.png) no-repeat -45px 0;
  position: absolute;
  left: -42px;
  top: -2px;
}
/** Pricing **/
.pricing-table {
  /* CSS-only ribbon styles    */

}
.pricing-table .panel {
  text-align: center;
}
.pricing-table .panel:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35);
}
.pricing-table .panel-body {
  padding: 0px;
  text-align: center;
}
.pricing-table .the-price {
  background-color: rgba(220, 220, 220, 0.17);
  box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
  padding: 20px;
  margin: 0;
}
.pricing-table .the-price h1 {
  line-height: 1em;
  padding: 0;
  margin: 0;
}
.pricing-table .panel-title {
  font-size: 26px;
}
.pricing-table .subscript {
  font-size: 25px;
}
.pricing-table .cnrflash {
  /*Position correctly within container*/

  position: absolute;
  top: -9px;
  right: 4px;
  z-index: 1;
  /*Set overflow to hidden, to mask inner square*/

  overflow: hidden;
  /*Set size and add subtle rounding  		to soften edges*/

  width: 100px;
  height: 100px;
  border-radius: 3px 5px 3px 0;
}
.pricing-table .cnrflash-inner {
  /*Set position, make larger then 			container and rotate 45 degrees*/

  position: absolute;
  bottom: 0;
  right: 0;
  width: 145px;
  height: 145px;
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  /*Purely decorative effects to add texture and stuff*/
  /* Safari and Chrome */

  -ms-transform-origin: 100% 100%;
  /* IE 9 */

  -o-transform-origin: 100% 100%;
  /* Opera */

  -moz-transform-origin: 100% 100%;
  /* Firefox */

  background-image: linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1, 1, 1, 0.2) 50%);
  background-size: 4px,auto, auto,auto;
  background-color: #aa0101;
  box-shadow: 0 3px 3px 0 rgba(1, 1, 1, 0.5), 0 1px 0 0 rgba(1, 1, 1, 0.5), inset 0 -1px 8px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 0 rgba(255, 255, 255, 0.2);
}
.pricing-table .cnrflash-inner:before,
.pricing-table .cnrflash-inner:after {
  /*Use the border triangle trick to make  				it look like the ribbon wraps round it's 				container*/

  content: " ";
  display: block;
  position: absolute;
  bottom: -16px;
  width: 0;
  height: 0;
  border: 8px solid #800000;
}
.pricing-table .cnrflash-inner:before {
  left: 1px;
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.pricing-table .cnrflash-inner:after {
  right: 0;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.pricing-table .cnrflash-label {
  /*Make the label look nice*/

  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  padding-bottom: 5px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(1, 1, 1, 0.8);
  font-size: 0.95em;
  font-weight: bold;
  text-align: center;
}
/** why join **/
.whyjoin li {
  margin-bottom: 30px;
}
.whyjoin li .icons i {
  font-size: 56px;
  color: #333;
}
.whyjoin li .content {
  margin-left: 88px;
  margin-right: 10px;
}
.whyjoin li .content h3 {
  font-size: 28px;
  line-height: 1.3;
  margin: 0 0 5px;
}
#footer {
  margin-top: 10px;
}
#footer-bottom {
  margin-top: 50px;
  background: #f5f5f5;
  border-top: 1px solid #ddd;
  font-size: 13px;
}
#footer-bottom .nav-brand-container span {
  position: relative;
  color: #333333;
  margin-left: 9px;
  top: 22px;
  opacity: 1;
  font-weight: 700;
  text-transform: uppercase;
}
#footer-bottom .navbar-brand {
  height: auto;
  font-family: 'gotham_boldregular', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  padding: 8px 0;
}
#footer-bottom .nav-footer ul {
  margin-top: 10px;
  margin-bottom: 7px;
}
#footer-bottom .nav-footer ul li a {
  padding: 10px 15px;
  color: #333333;
  font-weight: 700;
  text-transform: uppercase;
}
#footer-bottom .nav-footer ul li a:hover {
  background: none;
  color: #66cc99;
}
#footer-bottom .nav-footer .navbar-toggle {
  color: #fff;
}
/*
  Listing pages
*/
.listing-header {
  background: #ffffff;
  margin-bottom: 0px;
  margin-top: -30px;
  padding: 15px 0 0 0;
}
.listing-header ul {
  margin: 0;
}
.listing-header ul > li {
  padding-right: 10px;
  font-weight: bold;
}
.listing-header .center-block {
  text-align: center;
}
.listing-header .left-block {
  text-align: left;
}
.listing-header .listing-title {
  text-align: left;
  margin-top: 0;
  font-size: 32px;
  margin-bottom: 0px;
  font-weight: bold;
}
.listing-header .listing-sorter {
  position: relative;
}
.vendor-item,
.stories-item,
.place-item {
  text-align: left;
}
.vendor-item .excerpt,
.stories-item .excerpt,
.place-item .excerpt {
  display: none;
  position: absolute;
  top: 22px;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4px;
  padding: 25px;
  height: 170px;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  margin-right: 19px;
  color: #fff;
  font-family: 'Noto Serif', serif;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px;
}
.vendor-item .excerpt span,
.stories-item .excerpt span,
.place-item .excerpt span {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}
.vendor-item .thumbnail,
.stories-item .thumbnail,
.place-item .thumbnail {
  border: 0;
  border-radius: 0;
  margin-top: 25px;
  margin-bottom: 0px;
  position: relative;
}
.vendor-item .thumbnail img,
.stories-item .thumbnail img,
.place-item .thumbnail img {
  width: 100%;
}
.vendor-item .thumbnail .vendor-tag,
.stories-item .thumbnail .vendor-tag,
.place-item .thumbnail .vendor-tag {
  position: absolute;
  top: 12px;
  right: 9px;
  margin-right: -25px;
  z-index: 200;
  max-height: 36px;
  width: auto;
}
.vendor-item .thumbnail .mini-tag,
.stories-item .thumbnail .mini-tag,
.place-item .thumbnail .mini-tag {
  position: absolute;
  top: 12px;
  right: 9px;
  margin-right: -2px;
  z-index: 200;
  max-height: 24px;
  width: auto;
}
.vendor-item .thumbnail:hover .excerpt,
.stories-item .thumbnail:hover .excerpt,
.place-item .thumbnail:hover .excerpt {
  display: block;
  overflow: hidden;
}
.vendor-item h3,
.stories-item h3,
.place-item h3 {
  font-weight: 700;
  margin: 4px 0px;
  font-size: 18px;
  line-height: 23px;
}
.vendor-item h3 a,
.stories-item h3 a,
.place-item h3 a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  border-bottom: none !important;
}
.vendor-item .date,
.stories-item .date,
.place-item .date,
.vendor-item .places,
.stories-item .places,
.place-item .places {
  font-family: 'Noto Serif', serif;
  font-size: 26px;
  font-style: italic;
  text-align: left;
  margin-bottom: 0px;
  font-size: 18px;
  color: #333333;
}
.vendor-item .date,
.stories-item .date,
.place-item .date {
  margin-bottom: 2px;
}
.vendor-item .country,
.stories-item .country,
.place-item .country {
  font-family: 'Noto Serif', serif;
  font-size: 26px;
  font-style: italic;
  text-align: center;
  margin-bottom: 15px;
  font-size: 16px;
  color: #333333;
}
.vendor-item:first-child,
.stories-item:first-child,
.place-item:first-child {
  border-left: 0;
}
.vendor-item .box-content,
.stories-item .box-content,
.place-item .box-content {
  font-size: 20px;
  margin-top: 0px;
}
.vendor-item .box-content .btn-hollo,
.stories-item .box-content .btn-hollo,
.place-item .box-content .btn-hollo {
  margin-bottom: 5px;
}
.vendor-item .type,
.stories-item .type,
.place-item .type {
  position: absolute;
  bottom: 67px;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 3px 10px 3px 10px;
  color: #FFF;
}
.tags-listing a {
  border: 2px solid #f5f5f5 !important;
  color: #aaa !important;
  padding: 4px 8px;
  font-size: 13px;
  font-weight: 400;
  margin-right: 5px;
  margin-bottom: 5px;
}
.tags-listing a:hover {
  color: #333333 !important;
}
:last-child .vendor-item .thumbnail {
  margin-bottom: 0;
}
:first-child .thumbnail {
  border: 0;
}
:first-child .thumbnail .excerpt {
  top: -4px;
}
.featured {
  background: rgba(62, 177, 226, 0.05);
  margin: 0;
  padding: 30px 15px 0;
}
.featured .thumbnail {
  background: none;
  margin-bottom: 15px;
}
.featured .thumbnail img {
  width: 100%;
}
.featured .thumbnail .box-content h3 {
  font-size: 28px;
  line-height: 36px;
}
.stories-items .stories-item h3 a {
  display: block;
  border-bottom: none !important;
  overflow: inherit;
  text-overflow: inherit;
  white-space: inherit;
}
.places-content {
  margin-top: 30px;
}
.place-items {
  border: 0;
}
.place-items .place-item {
  border: 0;
}
.paginate-container {
  margin-top: 15px;
}
.pagination {
  border: 1px solid #eee;
  border-radius: 50px;
}
.pagination > li {
  border-left: 1px solid #eee;
  margin-right: 0;
}
.pagination > li.disabled span {
  color: #20a0d7;
}
.pagination > li.disabled span:hover {
  color: #20a0d7;
}
.pagination > li > a,
.pagination > li > span {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-width: 1px;
  margin: 0;
  border-radius: 0px !important;
  color: #20a0d7;
}
.pagination > li > a:hover,
.pagination > li > span:hover {
  background: none;
  color: #66cc99;
}
.pagination > li.active > span {
  background: none;
  border-color: #66cc99;
  border-width: 2px;
  color: #66cc99;
  font-weight: bold;
}
.pagination > li.active:hover > span {
  background: none;
  border-color: #66cc99;
  border-width: 2px;
  color: #66cc99;
}
.pagination > li:first-child {
  border-left: 0;
}
.pagination > li:first-child > span,
.pagination > li:last-child > span,
.pagination > li:first-child > a,
.pagination > li:last-child > a {
  border-width: 0 !important;
}
.fly-line {
  border-bottom: 2px dotted #ccc;
  width: 20%;
  position: absolute;
  left: 0;
}
/*
  Entry page
*/
.vendor,
.story {
  border-bottom: 1px dotted #333333;
}
.vendor h1,
.story h1 {
  font-family: 'Noto Serif', serif;
  font-size: 26px;
  font-style: italic;
  font-size: 40px;
  margin-top: 0;
}
.vendor .item-content,
.story .item-content {
  padding-bottom: 25px;
  position: inherit;
}
.vendor .widget-vendor-info,
.story .widget-vendor-info,
.vendor .widget-author,
.story .widget-author {
  padding-top: 15px;
  border-top: 1px solid #ddd;
  margin-top: 0px;
  margin-bottom: 15px;
}
.vendor .widget-vendor-info li,
.story .widget-vendor-info li,
.vendor .widget-author li,
.story .widget-author li,
.vendor .widget-vendor-info div,
.story .widget-vendor-info div,
.vendor .widget-author div,
.story .widget-author div {
  font-size: 14px;
  line-height: 20px;
  margin-right: 25px;
}
.vendor .widget-vendor-info li span,
.story .widget-vendor-info li span,
.vendor .widget-author li span,
.story .widget-author li span,
.vendor .widget-vendor-info div span,
.story .widget-vendor-info div span,
.vendor .widget-author div span,
.story .widget-author div span {
  display: block;
  text-transform: uppercase;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
}
.vendor .widget-vendor-info li h4,
.story .widget-vendor-info li h4,
.vendor .widget-author li h4,
.story .widget-author li h4,
.vendor .widget-vendor-info div h4,
.story .widget-vendor-info div h4,
.vendor .widget-author div h4,
.story .widget-author div h4 {
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  margin-bottom: 0;
  margin-top: 3px;
}
.vendor .widget-vendor-info li .author,
.story .widget-vendor-info li .author,
.vendor .widget-author li .author,
.story .widget-author li .author,
.vendor .widget-vendor-info div .author,
.story .widget-vendor-info div .author,
.vendor .widget-author div .author,
.story .widget-author div .author {
  font-weight: bold;
  font-size: 24px;
  margin-top: 2px;
  margin-bottom: 10px;
}
.vendor .widget-vendor-info li p,
.story .widget-vendor-info li p,
.vendor .widget-author li p,
.story .widget-author li p,
.vendor .widget-vendor-info div p,
.story .widget-vendor-info div p,
.vendor .widget-author div p,
.story .widget-author div p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: #999;
  line-height: 20px;
}
.vendor .widget-vendor-info li .author-link,
.story .widget-vendor-info li .author-link,
.vendor .widget-author li .author-link,
.story .widget-author li .author-link,
.vendor .widget-vendor-info div .author-link,
.story .widget-vendor-info div .author-link,
.vendor .widget-author div .author-link,
.story .widget-author div .author-link {
  color: #66cc99 !important;
  font-weight: normal;
  border-bottom: none !important;
  font-size: 18px !important;
}
.vendor .widget-vendor-info li .author-link:hover,
.story .widget-vendor-info li .author-link:hover,
.vendor .widget-author li .author-link:hover,
.story .widget-author li .author-link:hover,
.vendor .widget-vendor-info div .author-link:hover,
.story .widget-vendor-info div .author-link:hover,
.vendor .widget-author div .author-link:hover,
.story .widget-author div .author-link:hover {
  color: #333333 !important;
}
.vendor .widget-vendor-info div,
.story .widget-vendor-info div,
.vendor .widget-author div,
.story .widget-author div {
  margin-right: 0;
}
.vendor ul.widget-author,
.story ul.widget-author {
  margin: 0 0 35px;
  padding-top: 35px;
}
.vendor ul.widget-author > li,
.story ul.widget-author > li {
  float: left;
}
.vendor ul.widget-author > li:first-child,
.story ul.widget-author > li:first-child {
  width: 128px;
  height: 128px;
  background: url(../img/skulls.png);
  border-radius: 80px;
  padding: 0;
  text-align: center;
}
.vendor ul.widget-author > li:first-child img,
.story ul.widget-author > li:first-child img {
  padding: 0;
  max-width: 128px;
}
.vendor ul.widget-author > li.admin-info,
.story ul.widget-author > li.admin-info {
  width: 50%;
}
.vendor .story-info,
.story .story-info,
.vendor .vendor-info,
.story .vendor-info {
  border-left: 2px dotted #ccc;
  margin-left: -1px;
  padding-bottom: 30px;
}
.vendor .story-info h4,
.story .story-info h4,
.vendor .vendor-info h4,
.story .vendor-info h4 {
  padding: 4px;
}
.vendor .story-info h4:first-child,
.story .story-info h4:first-child,
.vendor .vendor-info h4:first-child,
.story .vendor-info h4:first-child {
  margin-top: 0;
}
.vendor .story-info .ribbon,
.story .story-info .ribbon,
.vendor .vendor-info .ribbon,
.story .vendor-info .ribbon {
  font-size: 16px;
  display: inline-block;
  height: 30px;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
  background: #ffcc00;
  color: #000;
  text-align: center;
  margin-left: 0;
  padding: 6px 12px 6px 25px;
}
.vendor .story-info .ribbon-green,
.story .story-info .ribbon-green,
.vendor .vendor-info .ribbon-green,
.story .vendor-info .ribbon-green {
  background: #66cc99;
}
.vendor .story-info .ribbon-black,
.story .story-info .ribbon-black,
.vendor .vendor-info .ribbon-black,
.story .vendor-info .ribbon-black {
  background: #000;
  color: #66cc99;
}
.vendor .story-info .ribbon:after,
.story .story-info .ribbon:after,
.vendor .vendor-info .ribbon:after,
.story .vendor-info .ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0em;
  border: 15px solid #ffcc00;
  z-index: -1;
}
.vendor .story-info .ribbon-green:after,
.story .story-info .ribbon-green:after,
.vendor .vendor-info .ribbon-green:after,
.story .vendor-info .ribbon-green:after {
  border: 15px solid #66cc99;
}
.vendor .story-info .ribbon-black:after,
.story .story-info .ribbon-black:after,
.vendor .vendor-info .ribbon-black:after,
.story .vendor-info .ribbon-black:after {
  border: 15px solid #000;
}
.vendor .story-info .ribbon:after,
.story .story-info .ribbon:after,
.vendor .vendor-info .ribbon:after,
.story .vendor-info .ribbon:after {
  right: -14px;
  border-left-width: 12px;
  border-right-color: transparent;
}
.vendor .story-info .ribbon .ribbon-content:before,
.story .story-info .ribbon .ribbon-content:before,
.vendor .vendor-info .ribbon .ribbon-content:before,
.story .vendor-info .ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
.vendor .story-info .ribbon .ribbon-content:after,
.story .story-info .ribbon .ribbon-content:after,
.vendor .vendor-info .ribbon .ribbon-content:after,
.story .vendor-info .ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}
.vendor .story-info .ribbon-stick,
.story .story-info .ribbon-stick,
.vendor .vendor-info .ribbon-stick,
.story .vendor-info .ribbon-stick {
  border-left: 4px solid #000;
  position: relative;
  left: 4px;
  padding-bottom: 6px;
  padding-top: 4px;
}
.vendor .story-info .ribbon-stick .ribbon,
.story .story-info .ribbon-stick .ribbon,
.vendor .vendor-info .ribbon-stick .ribbon,
.story .vendor-info .ribbon-stick .ribbon {
  padding-left: 15px;
  position: relative;
  left: -10px;
}
.vendor .story-info .widget-package,
.story .story-info .widget-package,
.vendor .vendor-info .widget-package,
.story .vendor-info .widget-package {
  background: #f5f5f5;
  padding: 20px 25px;
  margin-bottom: 20px;
}
.vendor .story-info .widget-package ul,
.story .story-info .widget-package ul,
.vendor .vendor-info .widget-package ul,
.story .vendor-info .widget-package ul {
  margin-bottom: -15px;
}
.vendor .story-info .widget-package ul li,
.story .story-info .widget-package ul li,
.vendor .vendor-info .widget-package ul li,
.story .vendor-info .widget-package ul li {
  margin: 22px 0;
}
.vendor .story-info .widget-package ul li:first-child,
.story .story-info .widget-package ul li:first-child,
.vendor .vendor-info .widget-package ul li:first-child,
.story .vendor-info .widget-package ul li:first-child {
  margin-top: 0;
}
.vendor .story-info .widget-package h3,
.story .story-info .widget-package h3,
.vendor .vendor-info .widget-package h3,
.story .vendor-info .widget-package h3 {
  font-family: 'gotham_boldregular', sans-serif;
  margin-top: 0;
  letter-spacing: -2px;
  font-size: 22px;
}
.vendor .story-info .widget-package h5,
.story .story-info .widget-package h5,
.vendor .vendor-info .widget-package h5,
.story .vendor-info .widget-package h5 {
  font-weight: normal;
  font-size: 19px;
}
.vendor .story-info .widget-package .btn,
.story .story-info .widget-package .btn,
.vendor .vendor-info .widget-package .btn,
.story .vendor-info .widget-package .btn {
  border: 0 !important;
  border-radius: 0;
  font-weight: bold;
  display: block;
  font-size: 18px;
  margin-top: 12px;
  padding: 10px;
}
.vendor .story-info .widget-package sup,
.story .story-info .widget-package sup,
.vendor .vendor-info .widget-package sup,
.story .vendor-info .widget-package sup {
  text-transform: uppercase;
  font-weight: normal;
}
.vendor .story-info dl,
.story .story-info dl,
.vendor .vendor-info dl,
.story .vendor-info dl {
  margin: 0;
}
.vendor .story-info dl dt,
.story .story-info dl dt,
.vendor .vendor-info dl dt,
.story .vendor-info dl dt {
  text-transform: uppercase;
  font-size: 12px;
}
.vendor .story-info dl dd,
.story .story-info dl dd,
.vendor .vendor-info dl dd,
.story .vendor-info dl dd {
  font-family: 'Noto Serif', serif;
  font-size: 26px;
  font-style: italic;
  font-size: 16px;
  margin-bottom: 16px;
  padding: 2px 0px 10px 0px;
  border-bottom: 1px dotted #333333;
}
.vendor .story-info dl dd ul li span.age-checked,
.story .story-info dl dd ul li span.age-checked,
.vendor .vendor-info dl dd ul li span.age-checked,
.story .vendor-info dl dd ul li span.age-checked {
  position: relative;
  top: 8px;
}
.vendor .story-info dl dd ul li.child span,
.story .story-info dl dd ul li.child span,
.vendor .vendor-info dl dd ul li.child span,
.story .vendor-info dl dd ul li.child span {
  position: relative;
  top: 8px;
}
.vendor .story-info .author-info,
.story .story-info .author-info,
.vendor .vendor-info .author-info,
.story .vendor-info .author-info {
  margin-bottom: 20px;
}
.vendor .story-info .author-info .img-circle,
.story .story-info .author-info .img-circle,
.vendor .vendor-info .author-info .img-circle,
.story .vendor-info .author-info .img-circle {
  display: block;
  margin-top: 10px;
  width: 96px;
  margin-bottom: 18px;
}
.vendor .story-info .author-info .author,
.story .story-info .author-info .author,
.vendor .vendor-info .author-info .author,
.story .vendor-info .author-info .author {
  font-family: 'Noto Serif', serif;
  font-size: 26px;
  font-style: italic;
  font-size: 16px;
}
.vendor .story-info .author-info .author-profile,
.story .story-info .author-info .author-profile,
.vendor .vendor-info .author-info .author-profile,
.story .vendor-info .author-info .author-profile {
  color: #999999;
}
.vendor .story-info .author-info .author-link,
.story .story-info .author-info .author-link,
.vendor .vendor-info .author-info .author-link,
.story .vendor-info .author-info .author-link {
  color: #66cc99 !important;
  font-style: italic;
  font-size: 14px;
  border-bottom: 0 !important;
}
.vendor .story-info .author-info .author-link:hover,
.story .story-info .author-info .author-link:hover,
.vendor .vendor-info .author-info .author-link:hover,
.story .vendor-info .author-info .author-link:hover {
  color: #47c285 !important;
}
.vendor .story-info ul.country-details,
.story .story-info ul.country-details,
.vendor .vendor-info ul.country-details,
.story .vendor-info ul.country-details {
  padding: 15px 0 0 20px;
}
.vendor .story-info ul.country-details li,
.story .story-info ul.country-details li,
.vendor .vendor-info ul.country-details li,
.story .vendor-info ul.country-details li {
  margin-bottom: 10px;
}
.vendor .story-info ul.country-details li.rating span,
.story .story-info ul.country-details li.rating span,
.vendor .vendor-info ul.country-details li.rating span,
.story .vendor-info ul.country-details li.rating span,
.vendor .story-info ul.country-details li.weather span,
.story .story-info ul.country-details li.weather span,
.vendor .vendor-info ul.country-details li.weather span,
.story .vendor-info ul.country-details li.weather span,
.vendor .story-info ul.country-details li.capacity span,
.story .story-info ul.country-details li.capacity span,
.vendor .vendor-info ul.country-details li.capacity span,
.story .vendor-info ul.country-details li.capacity span {
  font-size: 35px;
  font-weight: 700;
  position: relative;
  font-family: 'gotham_boldregular', sans-serif;
  top: -12px;
}
.vendor .story-info ul.country-details li.rating i,
.story .story-info ul.country-details li.rating i,
.vendor .vendor-info ul.country-details li.rating i,
.story .vendor-info ul.country-details li.rating i,
.vendor .story-info ul.country-details li.weather i,
.story .story-info ul.country-details li.weather i,
.vendor .vendor-info ul.country-details li.weather i,
.story .vendor-info ul.country-details li.weather i,
.vendor .story-info ul.country-details li.capacity i,
.story .story-info ul.country-details li.capacity i,
.vendor .vendor-info ul.country-details li.capacity i,
.story .vendor-info ul.country-details li.capacity i {
  font-size: 50px;
  width: 60px;
  margin-right: 12px;
}
.vendor .story-info ul.country-details li.rating i,
.story .story-info ul.country-details li.rating i,
.vendor .vendor-info ul.country-details li.rating i,
.story .vendor-info ul.country-details li.rating i {
  text-align: center;
}
.vendor .story-info ul.country-details li.weather,
.story .story-info ul.country-details li.weather,
.vendor .vendor-info ul.country-details li.weather,
.story .vendor-info ul.country-details li.weather {
  padding-left: 10px;
}
.vendor .story-info ul.country-details li.capacity i,
.story .story-info ul.country-details li.capacity i,
.vendor .vendor-info ul.country-details li.capacity i,
.story .vendor-info ul.country-details li.capacity i {
  text-align: center;
  float: left;
}
.vendor .story-info ul.country-details li.capacity span,
.story .story-info ul.country-details li.capacity span,
.vendor .vendor-info ul.country-details li.capacity span,
.story .vendor-info ul.country-details li.capacity span {
  top: -10px;
  float: left;
}
.vendor .story-info ul.country-details li.capacity span span,
.story .story-info ul.country-details li.capacity span span,
.vendor .vendor-info ul.country-details li.capacity span span,
.story .vendor-info ul.country-details li.capacity span span {
  font-size: 45px;
  top: 0px;
  float: none;
}
.vendor .story-info ul.country-details li.capacity span.text,
.story .story-info ul.country-details li.capacity span.text,
.vendor .vendor-info ul.country-details li.capacity span.text,
.story .vendor-info ul.country-details li.capacity span.text {
  text-transform: uppercase;
  font-size: 10px;
  float: left;
  margin-left: 5px;
  margin-top: 3px;
}
.vendor .vendor-info,
.story .vendor-info {
  margin-top: 50px;
}
.vendor .story-info,
.story .story-info {
  padding-top: 50px;
}
.vendor .img-container,
.story .img-container {
  margin-top: 20px;
  margin-bottom: 30px;
}
.vendor .img-container img,
.story .img-container img {
  max-width: 100%;
}
.vendor .inner-content h1,
.story .inner-content h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  letter-spacing: -2px;
}
.vendor .inner-content h1.main-title,
.story .inner-content h1.main-title {
  margin-bottom: 20px;
}
.vendor .inner-content img,
.story .inner-content img {
  max-width: 100%;
}
.vendor .inner-content.inner-content-middle,
.story .inner-content.inner-content-middle {
  width: 50%;
}
.vendor .inner-left-excerpt,
.story .inner-left-excerpt {
  margin-bottom: 25px;
}
.vendor .inner-left-excerpt p,
.story .inner-left-excerpt p {
  font-family: 'Noto Serif', serif;
  font-style: italic;
  font-size: 25px;
}
.vendor .inner-left-content,
.story .inner-left-content {
  border-top: 1px dotted #333333;
  border-bottom: 1px dotted #333333;
  margin-bottom: -1px;
  padding: 20px 0;
  font-size: 16px;
}
.vendor .inner-left-content .img-container,
.story .inner-left-content .img-container {
  margin-right: 0;
  margin-bottom: 25px;
}
.vendor .inner-left-content:last-child,
.story .inner-left-content:last-child {
  border-bottom: 0;
}
.vendor .inner-content-title,
.story .inner-content-title {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 19px;
}
.vendor .inner-sb-content,
.story .inner-sb-content {
  margin-left: -15px;
  position: relative;
  top: -50px;
}
.vendor .inner-tags-content h4,
.story .inner-tags-content h4 {
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 0;
}
.vendor .inner-tags-content .inner-tags-listing a,
.story .inner-tags-content .inner-tags-listing a {
  display: block;
  float: left;
  padding: 4px 8px;
  font-size: 13px;
  font-weight: 700;
  margin-right: 5px;
  margin-bottom: 5px;
  /*
				&:nth-child(3n+1) {
					border-color: @pinkish !important;
				}

				&:nth-child(3n+2) {
					border-color: @blue !important;
				}

				&:nth-child(3n+3) {
					border-color: @darkyellow !important;
				}

				&:nth-child(3n+4) {
					border-color: @alizarin !important;
				}

				&:nth-child(3n+5) {
					border-color: @purple !important;
				}
				*/

}
.vendor .inner-tags-content .inner-tags-listing a:hover,
.story .inner-tags-content .inner-tags-listing a:hover {
  border-color: #333333 !important;
  background-color: #ff6699;
}
.story-more {
  text-align: left;
}
.story-more h3 {
  font-size: 15px;
  line-height: 19px;
  margin: 0px 0px;
}
.category-bar {
  margin-bottom: 15px;
}
.popular-category .popular-category-item {
  background: url(../img/bg-sprite.jpg) no-repeat scroll 0 0 transparent;
  height: 165px;
  width: 100%;
  margin-bottom: 30px;
}
.popular-category .popular-category-item h4 {
  height: 165px;
  line-height: 165px;
  font-weight: bold;
  color: #fff;
  font-size: 29px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}
.popular-category .popular-category-item a {
  display: block;
  height: 165px;
  line-height: 165px;
  width: 100%;
}
.popular-category .popular-category-item a:hover h4 {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) !important;
}
.popular-category .popular-category-makeup-artist {
  background-position: -1260px 0;
}
.popular-category .popular-category-wedding-card {
  background-position: -2835px 0;
}
.popular-category .popular-category-videographer {
  background-position: -2205px 0;
}
.popular-category .popular-category-health-beauty {
  background-position: -1575px 0;
}
.popular-category .popular-category-wedding-cake {
  background-position: 0 0;
}
.popular-category .popular-category-wedding-gift {
  background-position: -1890px 0;
}
.popular-category .popular-category-photographer {
  background-position: -315px 0;
}
.popular-category .popular-category-catering {
  background-position: -945px 0;
}
.popular-category .popular-category-wedding-planner {
  background-position: -3465px 0;
}
.popular-category .popular-category-bridal {
  background-position: -2835px 0;
}
.popular-category .popular-category-venue {
  background-position: -630px 0;
}
.popular-category .popular-category-honeymoon {
  background-position: -2520px 0;
}
.popular-category .popular-category-specialties {
  background-position: -3150px 0;
}
.blog-categories {
  background: #E3F5FE;
  margin-bottom: 30px;
}
.vendor .vendor-cover img,
.story .vendor-cover img {
  max-width: 100%;
}
.vendor .vendor-tag,
.story .vendor-tag {
  position: absolute;
  top: 12px;
  right: 9px;
  margin-right: -40px;
  z-index: 200;
  max-height: 50px;
}
.vendor .inner-left-tags,
.story .inner-left-tags {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #333333;
}
.vendor .inner-left-excerpt,
.story .inner-left-excerpt {
  margin-bottom: 25px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #333333;
}
.vendor .inner-tags-listing,
.story .inner-tags-listing {
  border-bottom: 1px dotted #333333;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.vendor .inner-left-content,
.story .inner-left-content {
  border-top: 0 none;
  border-bottom: 0 none;
  margin-bottom: -1px;
  padding: 0px 10px 20px;
}
.vendor .inner-left-content .img-container,
.story .inner-left-content .img-container,
.vendor .inner-left-content img,
.story .inner-left-content img {
  margin-right: 0;
  margin-bottom: 25px;
}
.vendor .inner-left-content img,
.story .inner-left-content img {
  width: 100%;
}
.vendor .inner-left-content h3,
.story .inner-left-content h3 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 15px;
}
.vendor .inner-left-content:last-child,
.story .inner-left-content:last-child {
  border-bottom: 0;
}
.vendor .inner-social a,
.story .inner-social a {
  border-bottom: 0 !important;
  margin-right: 10px;
}
.vendor .inner-social a i,
.story .inner-social a i {
  font-size: 20px;
}
.vendor .inner-social a:hover,
.story .inner-social a:hover {
  color: #66cc99 !important;
}
.vendor-profile .vendor-avatar {
  background: #fff;
  padding: 5px;
  position: relative;
  top: -55px;
  left: 15px;
  width: 140px;
  border: 1px solid #ddd;
  margin-bottom: -25px;
  max-width: 140px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.vendor-profile .vendor-name {
  font-size: 24px;
  font-weight: bold;
  margin: 6px 0px 4px 0px;
}
.vendor .inner-content .main-title,
.story .inner-content .main-title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 55px;
  font-weight: 400;
  letter-spacing: 0;
}
.vendor .inner-content .img-container,
.story .inner-content .img-container {
  position: relative;
  z-index: 1000;
}
.vendor .inner-content .img-container img,
.story .inner-content .img-container img {
  padding: 0;
}
.vendor .inner-left-content,
.story .inner-left-content {
  padding: 0 0 20px;
}
.vendor .inner-left-content img,
.story .inner-left-content img {
  max-width: 100%;
}
#total-price {
  display: block;
  font-size: 130%;
  font-weight: bold;
  padding: 4px 20px;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}
.panel-search {
  margin-top: 5px;
}
.panel-search .panel {
  border: 0;
  box-shadow: 0 0 0 transparent;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  border-radius: 0;
}
.panel-search .panel .panel-heading {
  background: none;
  border: 0;
  padding: 12px;
}
.panel-search .panel .panel-heading .panel-title a {
  border-bottom: 0 !important;
}
.panel-search .panel .panel-heading + .panel-collapse .panel-body {
  border-top: 0;
}
.panel-search .panel + .panel {
  margin-top: -2px;
}
.panel-search .link-listing a {
  border: 2px solid #ffcc00 !important;
  margin-bottom: 5px;
  margin-right: 4px;
}
.panel-search .link-listing a:hover {
  border-color: #e6b800 !important;
}
.banner-badge {
  position: relative;
  margin-top: 12px;
  background: #ff6699;
  color: #ffffff;
  padding: 15px 15px 0;
}
.banner-badge i {
  font-size: 25px;
  position: relative;
  z-index: 100;
  bottom: -1px;
}
.banner-badge:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #ff6699;
  border-width: 27px;
  margin-left: -27px;
}
.nav-tabs-dotted {
  border-bottom: 2px dotted #ccc !important;
}
.nav-tabs-dotted > li > a {
  border: 2px dotted #ccc !important;
  border-bottom: 0 !important;
  margin-bottom: -1px;
  font-family: 'gotham_boldregular', sans-serif;
  text-transform: uppercase;
  color: #ccc !important;
  font-size: 18px;
  margin-right: 8px;
}
.nav-tabs-dotted > li > a:hover {
  background: none;
  color: #333 !important;
}
.nav-tabs-dotted > li.active > a {
  color: #333 !important;
}
.nav-tabs-line {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.nav-tabs-line > li {
  margin: 15px 0;
  border-left: 1px solid #ddd;
}
.nav-tabs-line > li > a {
  border: 0 !important;
  margin-bottom: 0;
  font-size: 17px;
  margin-right: 0;
  font-weight: bold;
  color: #555;
  padding: 5px 20px;
}
.nav-tabs-line > li > a:hover {
  background: none;
  color: #ff6699 !important;
}
.nav-tabs-line > li.active > a {
  color: #ff6699 !important;
}
.nav-tabs-line > li:first-child {
  border-left: 0;
}
.nav-tabs-line > li:first-child a {
  padding-left: 0;
}
.nav-tabs-line > li:last-child {
  border-left: 0;
}
.nav-tabs-line > li:last-child a {
  padding-left: 0;
}
.album-container {
  margin-top: 25px;
}
.tab-content {
  padding: 25px 0 0;
  font-size: 16px;
}
.tab-content .inner-content h3,
.tab-content .inner-content h4 {
  font-weight: 700;
}
.tab-content .inner-content.inner-tab-content {
  margin-left: -15px;
}
.side-tab-content {
  padding-top: 25px;
}
.side-tab-content .inner-left-excerpt {
  font-weight: 700;
}
.packages-container {
  margin-top: -155px;
  position: relative;
  z-index: 100;
}
.modal-packages {
  background: #333;
  padding-top: 40px;
}
.modal-packages .modal-content {
  background: #333;
  border: 0;
  box-shadow: 0 0 0 transparent;
}
.modal-packages .modal-dialog {
  width: 65%;
  margin-bottom: 0;
}
.modal-packages .modal-header {
  border-bottom: 0;
}
.modal-packages .modal-header .modal-title {
  color: #fff;
  font-size: 54px;
  margin-bottom: 0px;
}
.modal-packages .modal-header .modal-sub-title {
  color: #fff;
  font-family: 'Noto Serif', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 38px;
  margin-top: 8px;
}
.modal-packages .modal-body {
  color: #fff;
}
.modal-packages .modal-footer {
  border-top: 0;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 40px;
}
.modal-packages .modal-footer .btn {
  padding-left: 10%;
  padding-right: 10%;
  font-weight: bold;
  border-radius: 0;
  font-size: 16px;
}
.modal-packages .nav-tabs-dotted {
  margin-top: 20px;
  text-align: center;
  padding-bottom: 7px;
}
.modal-packages .nav-tabs-dotted > li {
  display: inline;
  float: none;
}
.modal-packages .nav-tabs-dotted > li > a {
  display: inline;
  padding-bottom: 12px;
}
.modal-packages .nav-tabs-dotted > li > a:hover {
  background: none;
  color: #66cc99 !important;
}
.modal-packages .nav-tabs-dotted > li.active > a {
  background: #333;
  color: #66cc99 !important;
}
.modal-packages .title-note {
  color: #66cc99;
  font-family: 'Noto Serif', serif;
  font-style: italic;
  font-size: 30px;
  margin-top: 8px;
  padding: 0 95px 50px;
  border-bottom: 2px dotted #ccc !important;
}
.modal-packages form {
  width: 50%;
  margin: 45px auto 0;
}
.modal-packages form .form-title {
  font-family: 'Noto Serif', serif;
  font-size: 28px;
  font-style: italic;
  margin-bottom: 20px;
}
.modal-packages form .input-group {
  margin-bottom: 15px;
}
.modal-packages form .input-group-addon {
  border-radius: 0;
  background: #fff;
}
.modal-packages .form-separator {
  border-bottom: 2px dotted #ccc;
  margin-top: 55px;
}
.modal-packages .package-details {
  border-bottom: 2px dotted #ccc;
  padding-bottom: 30px;
}
.modal-packages .package-details li {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 16px;
  padding: 0 30px;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}
.modal-packages .package-details li h5 {
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #fff;
  font-size: 16px;
}
.modal-packages .package-details li a {
  color: #ffffff !important;
}
.modal-packages .package-details li .well {
  color: #000;
  background: #FFF;
}
.modal-packages .package-details li .well a {
  color: #000 !important;
  border-bottom: none !important;
}
.modal-packages .package-details li .well:hover {
  text-decoration: none;
}
.modal-packages .package-details li .well .media-object {
  width: 120px;
}
.modal-packages .package-details li .well .media-body {
  text-align: left;
}
.modal-packages .package-details li.total-price {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}
.thumb-container {
  width: auto;
  height: auto;
  margin: 0 0 11px;
  padding: 0px;
  overflow: hidden;
  position: relative;
  text-align: left;
}
.thumb-container img.thumb-image {
  margin: 0px;
  padding: 0px;
  max-width: none;
  text-align: left;
  float: left;
}
.thumb-container span.thumb-title {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: White;
  display: block;
  font-size: 9px;
  height: 20px;
  left: 0;
  margin-top: 2px;
  line-height: 20px;
  position: relative;
  text-align: center;
  width: 100%;
  overflow: hidden;
  float: left;
}
.thumb-container span.thumb-title .thumb-title-scroller {
  padding-left: 2px;
}
.thumb-container img {
  max-width: none;
  text-align: left;
}
div.list-group-item {
  height: auto;
  min-height: 220px;
}
div.list-group-item.active small {
  color: #fff;
}
.stars {
  margin: 20px auto 1px;
}
/** album gallery */
ul.gallery li {
  margin-bottom: 30px;
}
.hotel-list-inner .hotel-thumb {
  float: left;
  display: inline;
  width: 100px;
  margin: 13px 0 0 6px;
}
.hotel-list-inner .hotel-info {
  width: 418px;
  margin-top: 15px;
  float: left;
}
.hotel-list-inner .hotel-cost {
  display: block;
  width: 164px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  float: left;
}
.login-content,
.submit-content {
  padding: 30px 40px 40px;
}
.login-content h2,
.submit-content h2 {
  margin-bottom: 30px;
  margin-top: 5px;
}
.login-content .form-control,
.submit-content .form-control {
  height: 50px;
  padding: 0 20px;
  font-size: 18px;
}
.login-content .btn,
.submit-content .btn {
  background: none;
  margin-top: 20px;
}
.login-content .btn:hover,
.submit-content .btn:hover {
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #333 !important;
  color: #333 !important;
}
.login-content .btn.fb-login,
.submit-content .btn.fb-login {
  opacity: .8;
  margin-top: 0;
  color: #FFF !important;
  background-color: #3b5998;
}
.login-content .btn.fb-login i,
.submit-content .btn.fb-login i {
  margin-right: 5px;
}
.login-content .btn.fb-login:hover,
.submit-content .btn.fb-login:hover {
  opacity: 1;
}
.login-content .text-separator,
.submit-content .text-separator {
  display: block;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0 10px;
  padding-top: 10px;
  border-top: 1px dotted rgba(0, 0, 0, 0.3);
}
.login-content .form-link,
.submit-content .form-link {
  text-align: center;
}
.login-content .alert,
.submit-content .alert {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 25px 30px;
  color: #333;
  font-size: 19px;
}
.submit-content {
  background: #ff6699;
  margin-top: 30px;
  font-size: 16px;
}
.submit-content ul,
.submit-content ol {
  margin-top: 14px;
  padding-left: 20px;
}
.submit-content ul li,
.submit-content ol li {
  margin-bottom: 8px;
}
.submit-content .btn {
  padding: 20px;
  margin-top: 35px;
}
.lineup-list {
  padding-top: 20px;
}
.lineup-list h2 {
  font-size: 23px;
  margin-top: 0;
  margin-bottom: 20px;
}
.lineup-list li {
  margin-bottom: 20px;
}
.lineup-list li ul li {
  margin-bottom: 10px;
}
.about-content,
.contact-content {
  margin-top: -20px;
}
.about-content .about-hero,
.contact-content .about-hero,
.about-content .contact-hero,
.contact-content .contact-hero {
  background: url(../img/patterns_green.png);
  height: 250px;
  padding: 0 40px;
}
.about-content .about-hero .item-title,
.contact-content .about-hero .item-title,
.about-content .contact-hero .item-title,
.contact-content .contact-hero .item-title {
  position: relative;
  top: 45%;
}
.about-content .about-hero .item-title .main-title,
.contact-content .about-hero .item-title .main-title,
.about-content .contact-hero .item-title .main-title,
.contact-content .contact-hero .item-title .main-title {
  font-size: 35px;
  font-family: 'gotham_boldregular', sans-serif;
  text-transform: uppercase;
}
.about-content .contact-hero,
.contact-content .contact-hero {
  background: url(../img/patterns_blue.png);
}
.about-content .about-secondary,
.contact-content .about-secondary,
.about-content .contact-secondary,
.contact-content .contact-secondary {
  margin-top: 35px;
  font-weight: bold;
  font-size: 20px;
}
.about-team {
  border-top: 1px dotted #333333;
  margin-top: 35px;
  padding-top: 20px;
}
.about-team h2 {
  font-family: 'Noto Serif', serif;
  font-style: italic;
  font-size: 40px;
  letter-spacing: -2px;
  margin-bottom: 20px;
}
.about-team h4 {
  font-family: 'gotham_boldregular', sans-serif;
  letter-spacing: -1px;
}
.about-team h5 {
  border-bottom: 1px solid #ff6699;
  display: inline-block;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.about-team .item-content {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #333333;
}
.page-header h1,
.page-header h2 {
  font-family: 'Noto Serif', serif;
  font-size: 32px;
}
.page-header h1 {
  font-size: 46px;
}
.vendor-feedback {
  font-style: italic;
  font-family: 'Noto Serif', serif;
  color: #666;
}
.vendor-feedback small {
  font-size: 80%;
  display: block;
  line-height: 20px;
  color: #999999;
  float: right;
}
.contact-item .row .item-container {
  background: #f5f5f5;
  padding: 30px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}
.contact-item .row .item-container .btn {
  margin-top: 10px;
  font-size: 18px;
  padding: 20px 30px;
}
.admin .navbar > .container .navbar-brand,
.admin .navbar > .container-fluid .navbar-brand {
  margin-left: 0;
}
.admin .sidebar-menu {
  background: #fff;
  border-right: 1px solid #eee;
  padding: 0;
}
.admin .sidebar-menu .nav {
  padding-top: 15px;
}
.admin .sidebar-menu .nav > li > a {
  position: relative;
  display: block;
  padding: 8px 15px;
  font-size: 16px;
  color: #333333;
}
.admin .sidebar-menu .nav > li > a:hover {
  background: rgba(0, 0, 0, 0.02);
  color: #40bf80;
}
.admin .sidebar-menu .nav > li.active a {
  border-right: 4px solid #66cc99;
  color: #66cc99;
  position: relative;
  right: -1px;
  margin-left: -1px;
  z-index: 1000;
}
.admin .sidebar-menu .menu-title {
  border-top: 1px solid #ddd;
  padding: 20px 15px 5px;
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  color: #ff6699;
}
.admin .main-content {
  background: #fcfcfc;
  border-left: 1px solid #eee;
  margin-left: -1px;
}
.admin .main-content .admin-title {
  margin-top: 5px;
}
.admin .main-content .form-filter {
  background: #f7f7f7;
  border: 1px solid #CCD8DB;
  padding: 15px 15px;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.admin .main-content .admin-row {
  margin-top: 20px !important;
}
.admin .profile-sidebar .thumbnail {
  height: 200px;
}
.admin .profile-sidebar .thumbnail img {
  height: 100%;
}
.admin .country-list {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
.admin .country-list li {
  margin: 5px 0;
}
.admin .country-list li a {
  display: block;
  padding: 10px;
  border: 1px solid #ddd;
}
.admin .vendor-content {
  margin-bottom: -25px;
}
.admin .vendor-items .vendor-item,
.admin .stories-items .vendor-item,
.admin .vendor-items .stories-item,
.admin .stories-items .stories-item {
  text-align: center;
  border-left: 0;
  margin-bottom: 30px;
}
.admin .vendor-items .vendor-item .thumbnail,
.admin .stories-items .vendor-item .thumbnail,
.admin .vendor-items .stories-item .thumbnail,
.admin .stories-items .stories-item .thumbnail {
  border-radius: 3px;
  padding: 0;
}
.admin .vendor-items .vendor-item .thumbnail .box-content,
.admin .stories-items .vendor-item .thumbnail .box-content,
.admin .vendor-items .stories-item .thumbnail .box-content,
.admin .stories-items .stories-item .thumbnail .box-content {
  padding: 0 15px 15px;
}
.admin .vendor-items .vendor-item .thumbnail .item-action,
.admin .stories-items .vendor-item .thumbnail .item-action,
.admin .vendor-items .stories-item .thumbnail .item-action,
.admin .stories-items .stories-item .thumbnail .item-action {
  padding: 12px;
  margin: 0;
  border-top: 1px solid #ddd;
  background: #f7f7f7;
}
.admin .vendor-items .vendor-item .thumbnail .item-action div,
.admin .stories-items .vendor-item .thumbnail .item-action div,
.admin .vendor-items .stories-item .thumbnail .item-action div,
.admin .stories-items .stories-item .thumbnail .item-action div {
  padding: 0 8px;
}
.admin .vendor-items .vendor-item .thumbnail .item-action i,
.admin .stories-items .vendor-item .thumbnail .item-action i,
.admin .vendor-items .stories-item .thumbnail .item-action i,
.admin .stories-items .stories-item .thumbnail .item-action i {
  margin-right: 5px;
}
.admin .vendor-items .vendor-item h3 a,
.admin .stories-items .vendor-item h3 a,
.admin .vendor-items .stories-item h3 a,
.admin .stories-items .stories-item h3 a {
  overflow: inherit;
  text-overflow: inherit;
  white-space: inherit;
}
.admin .btn-yellow,
.admin .btn-green {
  font-size: 16px;
  font-weight: 700;
  padding: 8px 15px;
}
.admin .btn-yellow i,
.admin .btn-green i {
  margin-right: 5px;
  position: relative;
  top: 1px;
}
.admin .admin-table > tbody > tr > td {
  vertical-align: middle;
}
.admin .admin-table th {
  background: #F8F8F8;
  font-size: 15px;
  padding: 12px 12px 11px;
}
.admin .admin-table td {
  background: #fff;
  padding: 12px 12px 11px;
}
.admin .admin-table td a.btn {
  border: 1px solid #ddd;
  background: none;
  padding: 6px 12px 5px;
}
.admin .admin-table td a.btn:hover {
  border: 1px solid #bbb;
}
.admin .admin-table td a.btn i {
  color: #ccc;
}
.admin .admin-table td a.btn.active {
  box-shadow: 0 0 0 transparent;
}
.admin .admin-table td a.btn.active i {
  color: #22B473;
}
.admin .admin-table td a.btn-disabled.active i {
  color: #C0272D;
}
.admin .admin-table td a.btn-edit,
.admin .admin-table td a.btn-remove {
  border: 0;
  background: 0;
  border-radius: 0;
  padding-top: 0px;
  padding-bottom: 0px;
}
.admin .admin-table td a.btn-edit i,
.admin .admin-table td a.btn-remove i {
  color: #bbb;
}
.admin .admin-table td a.btn-edit:hover,
.admin .admin-table td a.btn-remove:hover {
  border: 0;
  background: 0;
}
.admin .admin-table td a.btn-edit:hover i,
.admin .admin-table td a.btn-remove:hover i {
  color: #333333;
}
.admin .admin-table td a.btn-remove {
  position: relative;
  top: -1px;
  border-left: 1px solid #ddd;
}
.admin .admin-table td a.btn-remove:hover {
  border-left: 1px solid #ddd;
}
.admin .admin-table td a.btn-remove:hover i {
  color: #ff6699;
}
.admin .note-codable {
  display: none;
}
.admin .note-editable {
  min-height: 120px;
  border: 1px solid #DDD;
  padding: 10px;
  margin-top: 10px;
  background: #FFF;
}
.admin .note-editable:focus {
  outline: none;
}
.admin .note-toolbar {
  padding: 6px;
  background: #F7F7F7;
  margin-left: 0px;
  margin-bottom: -10px;
  border-top: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-left: 1px solid #DDD;
}
.admin .fieldset {
  border: 1px solid #CCD8DB;
  background: #f7f7f7;
  padding: 15px 20px 6px;
  border-radius: 3px;
  margin-bottom: 20px;
}
.admin .fieldset .checkbox {
  margin-top: 0;
  margin-bottom: 0;
}
.admin .tab-content {
  padding: 0 0 10px;
}
.admin .tab-content .form-title {
  margin-top: 25px;
}
.admin .tab-content .form-title.form-title-extend {
  border-bottom: 1px dotted #ddd;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
.admin .admin-filter {
  background: #fcfcfc;
  border: 1px solid #ddd;
  padding: 15px 30px 0px;
  margin-bottom: -1px;
  margin-right: 1px;
  border-radius: 3px 3px 0 0;
}
.admin .admin-filter [class*="col-"] {
  padding-left: 0;
}
@media (max-width: 767px) {
  .nav-footer {
    display: none;
  }
}
@media (max-width: 768px) {
  #site-search {
    padding-bottom: 20px;
  }
  #site-search .form-group,
  #site-search .input-group {
    margin-bottom: 15px !important;
  }
  .content-slider [class*="col-"] {
    margin: 0;
    padding: 0;
  }
  .content-slider [class*="col-"] .box {
    border-left: 0;
    min-height: 425px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  #header {
    opacity: 0.9;
  }
  #header .container {
    width: 100%;
  }
  #header .navbar-brand span {
    display: none;
  }
  #site-search {
    padding-bottom: 20px;
  }
  #site-search .col-first {
    border-right: 0;
    margin-bottom: 15px;
  }
  .content-slider [class*="col-"] {
    margin: 0;
    padding: 0;
  }
  .content-slider [class*="col-"] .box {
    border-left: 1px dotted #cccccc;
    min-height: 425px;
    text-align: center;
  }
  .vendor-item .thumbnail,
  .stories-item .thumbnail,
  .places-item .thumbnail {
    padding-left: 0;
    padding-right: 0;
  }
  .vendor-item .thumbnail:hover .excerpt,
  .stories-item .thumbnail:hover .excerpt,
  .places-item .thumbnail:hover .excerpt {
    height: 300px;
    width: 100%;
    top: 26px;
    margin: 0;
  }
  #footer-bottom .navbar-brand {
    float: none;
  }
  #footer-bottom .nav-brand-container {
    text-align: center;
    padding-top: 20px;
  }
  #footer-bottom .nav-brand-container span {
    top: 2px;
  }
  #footer-bottom .nav-footer {
    padding: 0 0 15px;
  }
  #footer-bottom .nav-footer .navbar-nav {
    float: none !important;
    text-align: center;
    margin-top: 0;
  }
  #footer-bottom .nav-footer .navbar-nav li {
    float: none;
    display: inline-block;
  }
}
@media (min-width: 992px) {
  #header .container {
    width: 970px;
  }
  #header .navbar-brand span {
    display: inline-block;
  }
  #site-search {
    padding-bottom: 15px;
  }
  #site-search .col-first {
    border-right: 1px dotted #cccccc;
    margin-bottom: 0;
  }
  .ribbon-title.ribbon-green.ribbon-right {
    padding-right: 35px;
    padding-top: 8px;
  }
  .ribbon-title.ribbon-green.ribbon-right.title-blink-right {
    background: url(../img/title-blink.png) no-repeat 115px -4px;
    margin-right: -45px;
  }
  .ribbon-title.ribbon-green.ribbon-left {
    padding-left: 35px;
    padding-top: 8px;
  }
  .ribbon-title.ribbon-green.ribbon-left.title-blink-left {
    background: url(../img/title-blink.png) no-repeat -75px -4px;
    margin-left: -45px;
  }
  .features-slider .thumbnails li {
    position: relative;
  }
  .features-slider .thumbnails li img {
    width: auto;
    height: 100%;
  }
  .vendor-items .vendor-item .thumbnail:hover .excerpt,
  .stories-items .vendor-item .thumbnail:hover .excerpt,
  .places-items .vendor-item .thumbnail:hover .excerpt,
  .vendor-items .stories-item .thumbnail:hover .excerpt,
  .stories-items .stories-item .thumbnail:hover .excerpt,
  .places-items .stories-item .thumbnail:hover .excerpt,
  .vendor-items .places-item .thumbnail:hover .excerpt,
  .stories-items .places-item .thumbnail:hover .excerpt,
  .places-items .places-item .thumbnail:hover .excerpt {
    width: 87.8%;
    height: 141px;
  }
  #footer-bottom .navbar-brand {
    float: left;
  }
  #footer-bottom .nav-brand-container {
    text-align: left;
    padding-top: 0;
  }
  #footer-bottom .nav-brand-container span {
    top: 22px;
  }
  #footer-bottom .nav-footer {
    padding: 0;
  }
  #footer-bottom .nav-footer .navbar-nav {
    float: right !important;
    text-align: left;
    margin-top: 10px;
  }
  #footer-bottom .nav-footer .navbar-nav li {
    float: left;
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .content-slider [class*="col-"] {
    margin: 0;
    padding: 0;
  }
  .content-slider [class*="col-"] .box {
    border-left: 0;
    min-height: 425px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  #header .container {
    width: 1170px;
  }
  #header .navbar-brand span {
    display: inline-block;
  }
  #site-search {
    padding-bottom: 15px;
  }
  #site-search .col-first {
    border-right: 1px dotted #cccccc;
    margin-bottom: 0;
  }
  .ribbon-title.ribbon-green.ribbon-right {
    padding-right: 35px;
    padding-top: 8px;
  }
  .ribbon-title.ribbon-green.ribbon-right.title-blink-right {
    background: url(../img/title-blink.png) no-repeat 115px -4px;
    margin-right: 0;
  }
  .ribbon-title.ribbon-green.ribbon-left {
    padding-left: 35px;
    padding-top: 8px;
  }
  .ribbon-title.ribbon-green.ribbon-left.title-blink-left {
    background: url(../img/title-blink.png) no-repeat -75px -4px;
    margin-left: 0;
  }
  .features-slider .thumbnails li {
    position: relative;
  }
  .features-slider .thumbnails li img {
    width: 100%;
    height: auto;
  }
  .content-slider [class*="col-"] {
    margin: 0;
    padding: 0;
  }
  .content-slider [class*="col-"] .box {
    border-left: 1px dotted #cccccc;
    min-height: 425px;
    text-align: center;
  }
  #footer-bottom .navbar-brand {
    float: left;
  }
  #footer-bottom .nav-brand-container {
    text-align: left;
    padding-top: 0px;
  }
  #footer-bottom .nav-brand-container span {
    top: 22px;
  }
  #footer-bottom .nav-footer {
    padding: 0;
  }
  #footer-bottom .nav-footer .navbar-nav {
    float: right !important;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #footer-bottom .nav-footer .navbar-nav li {
    float: left;
    display: block;
  }
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
  color: #000;
}
.has-success .form-control,
.has-success .select2-search input[type="text"] {
  color: #000;
  border-color: #bdc3c7;
  box-shadow: none;
}
.footer {
  padding-top: 20px;
  background-color: #333;
}
.footer h3 {
  color: #FFF;
  text-transform: uppercase;
  font-size: 95%;
}
.footer p,
.footer a {
  color: #DDDDDD;
}
.footer ul.menu {
  list-style: none;
  padding: 8px 0px;
  margin: 0;
  border-top: 1px solid #999;
}
.footer ul.menu li {
  padding-left: 1em;
  text-indent: -0.7em;
}
.footer ul.menu li:before {
  content: "";
  color: #DDD;
  /* or whatever color you prefer */

}
.footer .recent-posts li .post-date {
  top: 5px;
  left: 0px;
  border: 2px solid #ccc;
  color: #CCC;
  background: none;
  padding: 3px 3px;
  width: 34px;
  font-size: 80%;
}
.footer .recent-posts li .post-date .post-date-day {
  display: block;
}
.footer .recent-posts li .post-date .post-date-month {
  font-weight: normal;
  font-size: 80%;
}
.footer .form-group {
  padding: 12px 0px;
}
@media (max-width: 480px) {
  #header .container {
    padding: 0;
  }
  #header .navbar-collapse {
    padding: 0;
  }
  #header .navbar-nav {
    background: #333333;
    margin: 0;
  }
  #header .navbar-nav li {
    border-left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  #header .navbar-nav li.link-register {
    padding: 0;
  }
  #header .navbar-nav li.link-register a {
    padding: 17px 20px 16px 20px;
    top: 0;
  }
  #header .navbar-nav.social-media {
    margin: 0;
    text-align: center;
  }
  #header .navbar-nav.social-media li {
    width: 20%;
    text-align: center;
    display: inline-block;
  }
  #header .navbar-brand {
    padding-left: 5px;
  }
  .vendor-items .vendor-item,
  .stories-items .vendor-item,
  .places-items .vendor-item,
  .vendor-items .stories-item,
  .stories-items .stories-item,
  .places-items .stories-item,
  .vendor-items .places-item,
  .stories-items .places-item,
  .places-items .places-item {
    border: 0;
  }
  .vendor-items .vendor-item .thumbnail,
  .stories-items .vendor-item .thumbnail,
  .places-items .vendor-item .thumbnail,
  .vendor-items .stories-item .thumbnail,
  .stories-items .stories-item .thumbnail,
  .places-items .stories-item .thumbnail,
  .vendor-items .places-item .thumbnail,
  .stories-items .places-item .thumbnail,
  .places-items .places-item .thumbnail {
    padding-left: 0;
    padding-right: 0;
  }
  .vendor-items .vendor-item .thumbnail:hover .excerpt,
  .stories-items .vendor-item .thumbnail:hover .excerpt,
  .places-items .vendor-item .thumbnail:hover .excerpt,
  .vendor-items .stories-item .thumbnail:hover .excerpt,
  .stories-items .stories-item .thumbnail:hover .excerpt,
  .places-items .stories-item .thumbnail:hover .excerpt,
  .vendor-items .places-item .thumbnail:hover .excerpt,
  .stories-items .places-item .thumbnail:hover .excerpt,
  .places-items .places-item .thumbnail:hover .excerpt {
    height: 247px;
    width: 92.6%;
    top: 26px;
    margin: 0;
  }
  .vendor-items:first-child .vendor-item .thumbnail,
  .stories-items:first-child .vendor-item .thumbnail,
  .places-items:first-child .vendor-item .thumbnail,
  .vendor-items:first-child .stories-item .thumbnail,
  .stories-items:first-child .stories-item .thumbnail,
  .places-items:first-child .stories-item .thumbnail,
  .vendor-items:first-child .places-item .thumbnail,
  .stories-items:first-child .places-item .thumbnail,
  .places-items:first-child .places-item .thumbnail {
    border: 0;
    padding-top: 0;
  }
  .vendor-items:first-child .vendor-item .thumbnail .excerpt,
  .stories-items:first-child .vendor-item .thumbnail .excerpt,
  .places-items:first-child .vendor-item .thumbnail .excerpt,
  .vendor-items:first-child .stories-item .thumbnail .excerpt,
  .stories-items:first-child .stories-item .thumbnail .excerpt,
  .places-items:first-child .stories-item .thumbnail .excerpt,
  .vendor-items:first-child .places-item .thumbnail .excerpt,
  .stories-items:first-child .places-item .thumbnail .excerpt,
  .places-items:first-child .places-item .thumbnail .excerpt {
    top: 0;
  }
  #footer-bottom .nav-brand-container span {
    top: 0;
    padding: 20px;
    text-align: center;
    margin: 0;
    display: block;
  }
  .nav-footer {
    display: none;
  }
}
.datepicker.dropdown-menu {
  min-width: 262px;
  border-radius: 0;
  margin-top: 0px;
  background: #f9f9f9;
}
.datepicker.datepicker-dropdown:before,
.datepicker.datepicker-dropdown:after {
  border-bottom: 0;
}
.datepicker table {
  width: 100%;
}
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:focus,
.datepicker table tr td span.active:hover:focus,
.datepicker table tr td span.active.disabled:focus,
.datepicker table tr td span.active.disabled:hover:focus,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td span.active,
.open .dropdown-toggle.datepicker table tr td span.active:hover,
.open .dropdown-toggle.datepicker table tr td span.active.disabled,
.open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
  color: #ffffff;
  background-color: #66cc99;
  border-color: #40bf80;
}
.stepwizard {
  text-align: center;
  display: table;
  width: 100%;
  position: relative;
}
.stepwizard .stepwizard-step {
  padding-right: 60px;
  padding-left: 30px;
}
.stepwizard .stepwizard-step p {
  margin-top: 10px;
}
.stepwizard .stepwizard-row {
  display: table-row;
}
.stepwizard .stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.stepwizard .stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}
.stepwizard .stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}
.stepwizard .btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
#stampSelectCode ul li {
  width: 24.8%;
  display: block;
  box-sizing: border-box;
  float: left;
  padding: 4px;
}
#stampSelectCode ul li a {
  cursor: pointer;
  position: relative;
}
#stampSelectCode ul li a span {
  position: absolute;
  top: -30px;
  color: #FFF;
  z-index: 1000000;
  background: #000;
  padding: 2px 8px;
  height: 30px;
  font-size: 18px;
}
.btn-like {
  background-color: #FD75A3;
}
.btn-like:hover {
  background-color: #FD75A3;
}
.tab-content h2 {
  font-size: 20px;
  font-weight: bold;
}
.tab-content h3 {
  font-size: 18px;
  font-weight: bold;
}
.tab-content h3 .package-title {
  color: #ff6699 !important;
}
.admin table.admin-table tr.status-2 td {
  background-color: BLUE;
  color: #FFF;
}
.admin table.admin-table tr.status-3 td {
  background-color: YELLOW;
}
.admin table.admin-table tr.status-5 td {
  background-color: PURPLE;
  color: #FFF;
}
.admin table.admin-table tr.status-7 td {
  background-color: #ef8131;
  color: #FFF;
}
.admin table.admin-table tr.status-10 td {
  background-color: GREEN;
  color: #FFF;
}
@media (max-width: 480px) {
  .admin .fieldset {
    border: none;
    background: none;
    padding: 0px;
  }
  #site-hero h1 {
    font-size: 30px;
  }
  #header .container .row {
    margin-right: 0px;
  }
  #site-search {
    padding: 0px;
  }
  #site-search .inner {
    background: none;
    padding: 8px 0px 0px 0px;
  }
  .vendor .inner-left-excerpt p,
  .story .inner-left-excerpt p {
    font-size: 22px;
  }
  .vendor-tag {
    width: 120px;
    margin-right: -2px;
    top: 8px;
  }
  .vendor-profile .vendor-avatar {
    width: 100px;
  }
  .vendor h1,
  .story h1 {
    font-size: 26px !important;
  }
}
